In [5]:
import sys
sys.path.insert(1, '../src')
from classes import data_Agg
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
# for testing
import importlib
importlib.reload(classes)

In [11]:
# read file
data = pd.read_csv('../data/prices_CBSA_vaca_construction_pop.csv')

/usr/local/anaconda3/envs/realty-market-app/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
data.head()

,CBSA,NAME,LSAD,POPESTIMATE2019,ZIP,RegionName,State,City,Metro,CountyName,...,ErrorMargin4,cbsa_code,CSA,Name,Total,unit_1,2 Units,unit_34,unit_5,unit_for_5orMore
0,10420,"Akron, OH",Metropolitan Statistical Area,703479,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,...,10.1,10420.0,184.0,"Akron, OH ...",945.0,856.0,2.0,32.0,55.0,1.0
1,10420,"Akron, OH",Metropolitan Statistical Area,703479,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,...,10.1,10420.0,184.0,"Akron, OH ...",945.0,856.0,2.0,32.0,55.0,1.0
2,10420,"Akron, OH",Metropolitan Statistical Area,703479,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,...,10.1,10420.0,184.0,"Akron, OH ...",945.0,856.0,2.0,32.0,55.0,1.0
3,10420,"Akron, OH",Metropolitan Statistical Area,703479,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,...,10.1,10420.0,184.0,"Akron, OH ...",945.0,856.0,2.0,32.0,55.0,1.0
4,10420,"Akron, OH",Metropolitan Statistical Area,703479,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,...,10.1,10420.0,184.0,"Akron, OH ...",945.0,856.0,2.0,32.0,55.0,1.0

In [18]:
# instantiate class object
dataobj = data_Agg(data)

KeyError: 'Only a column name can be used for the key in a dtype mappings argument.'

In [16]:
dataobj

NameError: name 'dataobj' is not defined