# Table of Contents

* [Background](#Data-sources-background-information)
* [Data Import](#Data-import)

## TODO list:

* organize descriptions of files and links
* work on API / functionalized approach
* decide which month / quarter / year to focus on

## Setup notes

* setup conda env with python 3.7: realty-market-app
* setup workspace in vscode
* created new container in docker for postgres from official postgres image pg-realty

## Data sources background information

| Data                | Source                              | Purpose    | Details    | Key | Data name
| :----------------   | :---                                | :---       | :---       | :--- | :---
| House prices and rent prices      | [Zillow](https://www.zillow.com/research/data/) | with rent prices, can determine ratios | TBA  | Zip Code | rent_prices
| New construction                  | [Census data](https://www.census.gov/construction/nrc/index.html) | While prices are lagging indicator, this should be a leading indicator | only high level data :( maybe this is better: [Census surveys](https://www.census.gov/construction/bps/msaannual.html)  | CBSA - crosswalk to Zip code | construction
| Rental Vacancy rates (Table 4)     | [more Census](https://www.census.gov/housing/hvs/data/rates.html) | could be a proxy for rent prices which is hard to find | this is 75 largest metro areas  | names of metro areas?? | vacancy
| sub-county population estimates    | [Census pop data](https://www.census.gov/data/tables/time-series/demo/popest/2010s-total-cities-and-towns.html#ds)   | population trends will indicate future rent demand | TBA  |  | population

## Rental vacancy 

from here https://www.census.gov/housing/hvs/methodology/index.html

The CPS/HVS is administered by the Census Bureau using a probability selected sample of about 72,000 housing units, both occupied and vacant. The fieldwork is conducted during the calendar week that includes the 19th of the month. The questions refer to activities during the prior week; that is, the week that includes the 12th of the month. Households from all 50 states and the District of Columbia are in the survey for 4 consecutive months, out for 8, and then return for another 4 months before leaving the sample permanently. This design ensures a high degree of continuity from one month to the next (as well as over the year). The 4-8-4 sampling scheme has the added benefit of allowing the constant replenishment of the sample without excessive burden to respondents.

The CPS/HVS questionnaire is a completely computerized document that is administered by Census Bureau field representatives across the country through both personal and telephone interviews.

CPS/HVS Interviewing Manual [PDF]

2019 CPS/HVS Design and Methodology Technical Paper [PDF]

2006 CPS/HVS Design and Methodology Technical Paper [PDF]

## Zillow rent prices

https://www.zillow.com/research/methodology-zori-repeat-rent-27092/

Zillow Observed Rent Index (ZORI): A smoothed measure of the typical observed market rate rent across a given region. ZORI is a repeat-rent index that is weighted to the rental housing stock to ensure representativeness across the entire market, not just those homes currently listed for-rent. The index is dollar-denominated by computing the mean of listed rents that fall into the 40th to 60th percentile range for all homes and apartments in a given region, which is once again weighted to reflect the rental housing stock. Details available in ZORI methodology.

What’s available to rent at any given time can change rapidly, and measures of median or average prices across time may not reflect actual market-based movements in rent prices, but instead simply reflect the fact that certain unit types are available at different times. ZORI solves this challenge by calculating price differences for the same rental unit over time, then aggregating those differences across all properties repeatedly listed for rent on Zillow.

Once the index is computed, it is smoothed using a three-month exponentially weighted moving average. Prior to publication, both the raw and smoothed indices are checked against a set of heuristics based on statistics of the time series to flag potential data quality issues so they can be investigated and fixed, or a determination can be made not to publish the series.

To make the index more interpretable, we attach a dollar value to the latest data point in the series and use the index’s month-to-month changes to chain the dollar value back in time. The dollar amount is calculated by taking the mean of the middle 20% (the 40-to-60 percentile) of the asking rent for observations from the most recent month. Using the mean of the middle quintile instead of a straight median better captures small changes in the market, while also reducing noise. To correct for bias in list rents, we use the same weights described above to make the dollar-denominated amount representative of the market of available homes. 

Zillow neigborhoods: https://data.opendatasoft.com/explore/dataset/zillow-neighborhoods@public/information/

## Unemployment data 
Starting from the LAUS home page, scroll down to "Get Detailed Statistics," and then click on "Flat files FTP Site," or go to http://download.bls.gov/pub/time.series/la/. To understand the data provided in these FTP files, scroll down to the "la.txt" document, which provides information on the following: Time series, series file, data file, and mapping file definitions and relationships; Series file format and field definitions; Data file format and field definitions; Mapping file formats and field definitions; and a Data Element Dictionary. Other explanatory documents include "la.period" and "la.area.type," which define periods and area types, respectively.

## Plan for today (Monday):

1. decide which Zillow data to use and whether zip codes?
2. what is my primary key to link everything going to be?

    * zip code? FIPS code? what is CBSA? Core-Based Statistical Area?

3. what hypothesis tests?

    * bin by regions and determine differences? doesn't seem very useful?
    * could do some testing of impact of COVID if I use 2020 data?
    * bayesian?
    * correlation between home prices and rent prices?
    
4. data into SQL
5. start analyzing
6. (Later) write code to use APIs and pull directly from websites instead

## FIPS, CBSA, Zip Codes, geocodes etc

CBSA = core based statistical areas

New metropolitan and micropolitan statistical area definitions were announced by OMB on June 6, 2003, based on application of the 2000 standards with Census 2000 data. Metropolitan and Micropolitan Statistical Areas are collectively referred to as Core-Based Statistical Areas.

Metropolitan statistical areas have at least one urbanized area of 50,000 or more population, plus adjacent territory that has a high degree of social and economic integration with the core as measured by commuting ties.
Micropolitan statistical areas are a new set of statistical areas that have at least one urban cluster of at least 10,000 but less than 50,000 population, plus adjacent territory that has a high degree of social and economic integration with the core as measured by commuting ties.
Metropolitan and micropolitan statistical areas are defined in terms of whole counties or county equivalents, including the six New England states. As of June 6, 2003, there are 362 metropolitan statistical areas and 560 micropolitan statistical areas in the United States.

https://www.huduser.gov/portal/datasets/usps_crosswalk.html

zip code tabulation areas? https://www.census.gov/programs-surveys/geography/guidance/geo-areas/zctas.html

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import psycopg2 as pg2
from psycopg2 import sql
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
import sqlalchemy
import getpass

%matplotlib inline
pd.options.display.float_format = '{:,.2f}'.format
plt.style.use('seaborn-white')

## Data import

### Zillow Home Price data

In [2]:
home_prices = pd.read_csv('../data/Zip_zhvi_uc_sfr_tier_0.33_0.67_sm_sa_mon.csv')

In [3]:
home_prices.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,...,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,nan,...,"1,397,980.00","1,389,522.00","1,383,244.00","1,380,903.00","1,385,338.00","1,386,299.00","1,385,537.00","1,377,219.00","1,366,529.00","1,351,955.00"
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,"362,440.00",...,"969,701.00","968,746.00","967,546.00","966,119.00","965,833.00","966,867.00","968,066.00","967,947.00","966,726.00","964,844.00"
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,nan,...,"1,597,185.00","1,590,668.00","1,584,963.00","1,581,334.00","1,584,746.00","1,586,066.00","1,582,635.00","1,575,709.00","1,569,296.00","1,569,607.00"
3,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,"200,594.00",...,"336,361.00","336,399.00","336,382.00","336,475.00","336,202.00","336,398.00","336,859.00","337,928.00","338,853.00","339,429.00"
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,"544,060.00",...,"1,200,264.00","1,198,154.00","1,195,523.00","1,193,421.00","1,193,009.00","1,194,815.00","1,196,093.00","1,196,435.00","1,195,008.00","1,194,721.00"

In [354]:
home_prices.shape

(30421, 303)

In [370]:
home_prices.columns[range(9)]

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName'],
      dtype='object')

In [396]:
# melt it
home_prices_l = pd.melt(home_prices, id_vars=home_prices.columns[range(9)], var_name='month_date', value_name='house_price')

In [495]:
home_prices_l.head()
home_prices_l.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8943774 entries, 0 to 8943773
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   RegionID     int64
 1   SizeRank     int64
 2   RegionName   int64
 3   RegionType   object
 4   StateName    object
 5   State        object
 6   City         object
 7   Metro        object
 8   CountyName   object
 9   month_date   datetime64[ns]
 10  house_price  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 750.6+ MB

In [397]:
# convert to date
home_prices_l['month_date'] = pd.to_datetime(home_prices_l['month_date'])

In [410]:
home_prices_l.head(100)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,month_date,house_price
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,1996-01-31,nan
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,1996-01-31,"362,440.00"
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,1996-01-31,nan
3,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,1996-01-31,"200,594.00"
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,1996-01-31,"544,060.00"
...,...,...,...,...,...,...,...,...,...,...,...
95,72363,96,33025,Zip,FL,FL,Miramar,Miami-Fort Lauderdale-West Palm Beach,Broward County,1996-01-31,"120,478.00"
96,61798,97,10458,Zip,NY,NY,New York,New York-Newark-Jersey City,Bronx County,1996-01-31,"179,505.00"
97,90665,98,75067,Zip,TX,TX,Lewisville,Dallas-Fort Worth-Arlington,Denton County,1996-01-31,"113,194.00"
98,96015,99,90034,Zip,CA,CA,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,1996-01-31,"261,880.00"
99,93263,100,80134,Zip,CO,CO,Parker,Denver-Aurora-Lakewood,Douglas County,1996-01-31,"214,716.00"

In [496]:
# just keep 2019 for now
home_prices_l_2019 = home_prices_l[(home_prices_l['month_date'] > '2018-12-31') & (home_prices_l['month_date'] < '2020-01-01')]
home_prices_l_2019.head()
#home_prices_l_2019.describe()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,month_date,house_price
8396196,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,2019-01-31,"1,442,745.00"
8396197,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,2019-01-31,"973,282.00"
8396198,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,2019-01-31,"1,689,338.00"
8396199,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,2019-01-31,"337,064.00"
8396200,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,2019-01-31,"1,207,290.00"

### Zillow Rent Price data

In [497]:
rent_prices = pd.read_csv('../data/Zip_ZORI_AllHomesPlusMultifamily_Smoothed.csv')

In [400]:
rent_prices.head()

,RegionID,RegionName,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,...,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06
0,61639,10025,1,"3,134.00","3,065.00","3,082.00","3,159.00","3,119.00","3,099.00","3,134.00",...,"3,371.00","3,348.00","3,331.00","3,327.00","3,332.00","3,395.00","3,370.00","3,306.00","3,275.00","3,213.00"
1,84654,60657,2,"1,673.00","1,663.00","1,674.00","1,711.00","1,725.00","1,770.00","1,768.00",...,"1,947.00","1,924.00","1,912.00","1,904.00","1,936.00","1,974.00","1,974.00","1,974.00","1,970.00","1,953.00"
2,61637,10023,3,"3,087.00","3,025.00","3,085.00","3,138.00","3,157.00","3,225.00","3,202.00",...,"3,312.00","3,314.00","3,328.00","3,263.00","3,322.00","3,315.00","3,333.00","3,305.00","3,269.00","3,246.00"
3,91982,77494,4,"1,813.00","1,877.00","1,854.00","1,885.00","1,898.00","1,925.00","1,923.00",...,"1,864.00","1,862.00","1,855.00","1,862.00","1,865.00","1,866.00","1,869.00","1,861.00","1,855.00","1,873.00"
4,84616,60614,5,"1,870.00","1,782.00","1,840.00","1,869.00","1,901.00","1,915.00","1,938.00",...,"2,166.00","2,147.00","2,137.00","2,129.00","2,128.00","2,146.00","2,160.00","2,182.00","2,185.00","2,174.00"

In [498]:
rent_prices.shape

(3234, 81)

In [402]:
#rent_prices.columns[range(3)]

Index(['RegionID', 'RegionName', 'SizeRank'], dtype='object')

In [499]:
rent_prices = rent_prices.drop(['SizeRank', 'RegionID'], axis=1)

In [500]:
rent_prices.shape

(3234, 79)

In [501]:
rent_prices_l = pd.melt(rent_prices, id_vars='RegionName', var_name='month_date', value_name='rent_price')
rent_prices_l.head()

   RegionName month_date  rent_price
0       10025    2014-01    3,134.00
1       60657    2014-01    1,673.00
2       10023    2014-01    3,087.00
3       77494    2014-01    1,813.00
4       60614    2014-01    1,870.00

In [502]:
rent_prices_l.shape

(252252, 3)

In [503]:
# just keep 2019
rent_prices_l_2019 = rent_prices_l[(rent_prices_l['month_date'] > '2018-12-31') & (rent_prices_l['month_date'] < '2020-01-01')]
rent_prices_l_2019.head()

        RegionName month_date  rent_price
194040       10025    2019-01    3,213.00
194041       60657    2019-01    1,860.00
194042       10023    2019-01    3,212.00
194043       77494    2019-01    1,834.00
194044       60614    2019-01    2,090.00

In [504]:
rent_prices_l_2019.shape

(42042, 3)

In [485]:
rent_prices_l_2019.to_csv('rent.csv')

In [411]:
# what is the range of dates for home prices? to decide how to merge with rent and what to keep
home_prices_l_2019['month_date'].unique()

array(['2019-01-31T00:00:00.000000000', '2019-02-28T00:00:00.000000000',
       '2019-03-31T00:00:00.000000000', '2019-04-30T00:00:00.000000000',
       '2019-05-31T00:00:00.000000000', '2019-06-30T00:00:00.000000000',
       '2019-07-31T00:00:00.000000000', '2019-08-31T00:00:00.000000000',
       '2019-09-30T00:00:00.000000000', '2019-10-31T00:00:00.000000000',
       '2019-11-30T00:00:00.000000000', '2019-12-31T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [452]:
# ok just just keep year and month..
# pd.DatetimeIndex(home_prices_l_2019['month_date']).year
# pd.to_datetime(home_prices_l_2019['month_date'], format='%YYYY%MM')
home_prices_l_2019['month_date'] = home_prices_l_2019['month_date'].dt.strftime('%Y-%m')

/opt/anaconda3/envs/realty-market-app/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [453]:
home_prices_l_2019['month_date'] = pd.to_datetime(home_prices_l_2019['month_date'])

/opt/anaconda3/envs/realty-market-app/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [521]:
home_prices_l_2019.head()

,RegionName,State,City,Metro,CountyName,month_date,house_price
8396196,10025,NY,New York,New York-Newark-Jersey City,New York County,2019-01-31,"1,442,745.00"
8396197,60657,IL,Chicago,Chicago-Naperville-Elgin,Cook County,2019-01-31,"973,282.00"
8396198,10023,NY,New York,New York-Newark-Jersey City,New York County,2019-01-31,"1,689,338.00"
8396199,77494,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,2019-01-31,"337,064.00"
8396200,60614,IL,Chicago,Chicago-Naperville-Elgin,Cook County,2019-01-31,"1,207,290.00"

In [522]:
home_prices_l_2019.to_csv('homeprices.csv', index=False)

In [505]:
# rent_prices_l_2019a = rent_prices_l[(rent_prices_l['month_date'] > '2019-06') & (rent_prices_l['month_date'] < '2020-01')]
rent_prices_l_2019.head()
#rent_prices_l_2019 = rent_prices_l_2019.drop(['SizeRank', 'RegionName'], axis=1)

        RegionName month_date  rent_price
194040       10025    2019-01    3,213.00
194041       60657    2019-01    1,860.00
194042       10023    2019-01    3,212.00
194043       77494    2019-01    1,834.00
194044       60614    2019-01    2,090.00

In [507]:
home_prices_l_2019 = home_prices_l_2019.drop(['SizeRank', 'RegionType', 'StateName', 'RegionID'], axis=1)
home_prices_l_2019.head()

,RegionName,State,City,Metro,CountyName,month_date,house_price
8396196,10025,NY,New York,New York-Newark-Jersey City,New York County,2019-01-31,"1,442,745.00"
8396197,60657,IL,Chicago,Chicago-Naperville-Elgin,Cook County,2019-01-31,"973,282.00"
8396198,10023,NY,New York,New York-Newark-Jersey City,New York County,2019-01-31,"1,689,338.00"
8396199,77494,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,2019-01-31,"337,064.00"
8396200,60614,IL,Chicago,Chicago-Naperville-Elgin,Cook County,2019-01-31,"1,207,290.00"

In [517]:
rent_prices_l_2019['month_date'] = pd.to_datetime(rent_prices_l_2019['month_date'])

/opt/anaconda3/envs/realty-market-app/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [514]:
home_prices_l_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365052 entries, 8396196 to 8761247
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   RegionName   365052 non-null  int64
 1   State        365052 non-null  object
 2   City         365052 non-null  object
 3   Metro        279276 non-null  object
 4   CountyName   365052 non-null  object
 5   month_date   365052 non-null  datetime64[ns]
 6   house_price  365052 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 22.3+ MB

In [525]:
rent_prices_l_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42042 entries, 194040 to 236081
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionName  42042 non-null  int64
 1   month_date  42042 non-null  datetime64[ns]
 2   rent_price  41156 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 1.3 MB

In [526]:
# change back to str
home_prices_l_2019['month_date'] = home_prices_l_2019['month_date'].dt.strftime('%Y-%m')
rent_prices_l_2019['month_date'] = rent_prices_l_2019['month_date'].dt.strftime('%Y-%m')

/opt/anaconda3/envs/realty-market-app/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        RegionName month_date  rent_price
194040       10025    2019-01    3,213.00
194041       60657    2019-01    1,860.00
194042       10023    2019-01    3,212.00
194043       77494    2019-01    1,834.00
194044       60614    2019-01    2,090.00

In [528]:
#prices = pd.merge(home_prices_l_2019, rent_prices_l_2019, on=['RegionName', 'month_date'])
prices = pd.merge(home_prices_l_2019, rent_prices_l_2019, on=['RegionName', 'month_date'])

prices.head(100)

,RegionName,State,City,Metro,CountyName,month_date,house_price,rent_price
0,10025,NY,New York,New York-Newark-Jersey City,New York County,2019-01,"1,442,745.00","3,213.00"
1,60657,IL,Chicago,Chicago-Naperville-Elgin,Cook County,2019-01,"973,282.00","1,860.00"
2,10023,NY,New York,New York-Newark-Jersey City,New York County,2019-01,"1,689,338.00","3,212.00"
3,77494,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,2019-01,"337,064.00","1,834.00"
4,60614,IL,Chicago,Chicago-Naperville-Elgin,Cook County,2019-01,"1,207,290.00","2,090.00"
...,...,...,...,...,...,...,...,...
95,90044,CA,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,2019-01,"453,879.00","1,795.00"
96,85710,AZ,Tucson,Tucson,Pima County,2019-01,"188,283.00","1,101.00"
97,92683,CA,Westminster,Los Angeles-Long Beach-Anaheim,Orange County,2019-01,"692,358.00","2,414.00"
98,85225,AZ,Chandler,Phoenix-Mesa-Scottsdale,Maricopa County,2019-01,"269,817.00","1,348.00"
99,11234,NY,New York,New York-Newark-Jersey City,Kings County,2019-01,"655,721.00","1,989.00"

In [529]:
prices.shape

(38808, 8)

In [534]:
# check maybe some things are in rent data
rent_prices_l_2019[rent_prices_l_2019['RegionName'] == 95823]

        RegionName month_date  rent_price
194182       95823    2019-01         nan
197416       95823    2019-02    1,620.00
200650       95823    2019-03    1,633.00
203884       95823    2019-04    1,689.00
207118       95823    2019-05    1,680.00
210352       95823    2019-06    1,654.00
213586       95823    2019-07    1,642.00
216820       95823    2019-08    1,637.00
220054       95823    2019-09    1,659.00
223288       95823    2019-10    1,608.00
226522       95823    2019-11    1,638.00
229756       95823    2019-12    1,694.00
232990       95823    2020-01    1,696.00

### Construction data

In [6]:
# skip 1-5 and 7 row ids
construction = pd.read_excel('../data/msaannual_201999_building_construction.xls', header=5, skiprows=[range(5), 6])
construction.head()
#construction.shape

,CSA,CBSA,Name,Total,1 Unit,2 Units,3 and 4 Units,5 Units or More,Num of Structures With 5 Units or More
0,999,10180,"Abilene, TX ...",370,354,16,0,0,0
1,184,10420,"Akron, OH ...",945,856,2,32,55,1
2,999,10500,"Albany, GA ...",402,182,0,0,220,10
3,440,10540,"Albany-Lebanon, OR ...",716,466,0,0,250,26
4,104,10580,"Albany-Schenectady-Troy, NY ...",1870,1120,40,45,665,48

In [39]:
# rename cols
construction = construction.rename(columns={'1 Unit' : 'unit_1',
                  '2 Unit' : 'unit_2',
                  '3 and 4 Units': 'unit_34',
                  '5 Units or More': 'unit_5',
                  'Num of Structures With 5 Units or More': 'unit_for_5orMore'})
construction.head()

,CSA,CBSA,Name,Total,unit_1,2 Units,unit_34,unit_5,unit_for_5orMore
0,999,10180,"Abilene, TX ...",370,354,16,0,0,0
1,184,10420,"Akron, OH ...",945,856,2,32,55,1
2,999,10500,"Albany, GA ...",402,182,0,0,220,10
3,440,10540,"Albany-Lebanon, OR ...",716,466,0,0,250,26
4,104,10580,"Albany-Schenectady-Troy, NY ...",1870,1120,40,45,665,48

### Rental vacancy

In [218]:
# this file has merged cells and other stuff
vacancy = pd.read_excel('../data/tab4_msa_15_20_rvr.xlsx', 
                        header=3, 
                        usecols='B:J') 
                        #skiprows=2, 
                        #skipfooter=509)

vacancy = vacancy.iloc[4:,:]
vacancy.head()
vacancy.shape
#vacancy.tail()

(549, 9)

In [220]:
# drop rows without MSA name
vacancy = vacancy.dropna(subset=['Metropolitan Statistical Area'], axis=0).reset_index()
vacancy.shape

(455, 11)

In [221]:
# rename cols
# there is an issue getting years for these quarters.. maybe just use 2019 for now?
vacancy = vacancy.rename(columns={'Metropolitan Statistical Area' : 'cbsa_title',
                  'First Quarter 2020'  : 'Q1',
                  'Margin of Error1'    : 'ErrorMargin1',
                  'Second Quarter 2020' : 'Q2',
                  'Margin of Error1.1'  : 'ErrorMargin2',
                  'Third Quarter 2020'  : 'Q3',
                  'Margin of Error1.2'  : 'ErrorMargin3',
                  'Fourth Quarter 2020' : 'Q4',
                  'Margin of Error1.3'  : 'ErrorMargin4'})
vacancy.head()

,level_0,index,cbsa_title,First Quarter 2020,ErrorMargin1,Second Quarter 2020,ErrorMargin2,Third Quarter 2020,ErrorMargin3,Fourth Quarter 2020,ErrorMargin4
0,0,4,"Akron, OH .......................................",10.20,9.20,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5,"Albany-Schenectady-Troy, NY .....................",7.90,6.70,NaN,NaN,NaN,NaN,NaN,NaN
2,2,6,"Albuquerque, NM..................................",4.30,2.80,NaN,NaN,NaN,NaN,NaN,NaN
3,3,7,"Allentown-Bethlehem-Easton, PA-NJ................",4.50,5.90,NaN,NaN,NaN,NaN,NaN,NaN
4,4,8,"Atlanta-Sandy Springs-Roswell, GA1...............",6.90,2.50,NaN,NaN,NaN,NaN,NaN,NaN

In [222]:
# keep 2019 data
vacancy = vacancy.iloc[76:151, :]
vacancy.tail()

,level_0,index,cbsa_title,First Quarter 2020,ErrorMargin1,Second Quarter 2020,ErrorMargin2,Third Quarter 2020,ErrorMargin3,Fourth Quarter 2020,ErrorMargin4
146,146,159,"Tulsa, OK........................................",7,5.30,8.60,5.40,10.30,5.90,7.90,5.20
147,147,160,"Urban Honolulu, HI29.............................",5.90,2.70,6,2.70,6,2.70,4.60,2.40
148,148,161,"Virginia Beach-Norfolk-Newport News, VA-NC30.....",8.50,5.50,6.20,4.10,6.50,4.50,7.30,5
149,149,162,"Washington-Arlington-Alexandria, DC-VA-MD-WV.....",5.90,2.40,6.10,2.40,5.10,2.20,5.20,2.30
150,150,163,"Worcester, MA....................................",4.50,4.40,4.70,4.60,1.10,2.20,0.40,1.20

In [223]:
vacancy.shape

(75, 11)

In [224]:
# vacancy.columns.values
# annoying can't figure out how to get col names

vacancy = vacancy.rename(columns= {vacancy.columns[3]: "Q1" })
vacancy = vacancy.rename(columns= {vacancy.columns[5]: "Q2" })
vacancy = vacancy.rename(columns= {vacancy.columns[7]: "Q3" })
vacancy = vacancy.rename(columns= {vacancy.columns[9]: "Q4" })
vacancy.head()

,level_0,index,cbsa_title,Q1,ErrorMargin1,Q2,ErrorMargin2,Q3,ErrorMargin3,Q4,ErrorMargin4
76,76,89,"Akron, OH .......................................",2,4.10,3.60,6.10,4,5.70,14.20,10.10
77,77,90,"Albany-Schenectady-Troy, NY .....................",7.90,6.60,10.80,7,15.50,9.20,15.60,8.80
78,78,91,"Albuquerque, NM..................................",7.10,3.70,6.80,3.60,7.80,3.70,4.40,2.70
79,79,92,"Allentown-Bethlehem-Easton, PA-NJ................",7.70,7.70,3.20,5,0,(z),6.10,7.20
80,80,93,"Atlanta-Sandy Springs-Roswell, GA1...............",7.80,2.70,7.60,2.70,6.40,2.50,5.90,2.30

In [225]:
vacancy.tail()

,level_0,index,cbsa_title,Q1,ErrorMargin1,Q2,ErrorMargin2,Q3,ErrorMargin3,Q4,ErrorMargin4
146,146,159,"Tulsa, OK........................................",7,5.30,8.60,5.40,10.30,5.90,7.90,5.20
147,147,160,"Urban Honolulu, HI29.............................",5.90,2.70,6,2.70,6,2.70,4.60,2.40
148,148,161,"Virginia Beach-Norfolk-Newport News, VA-NC30.....",8.50,5.50,6.20,4.10,6.50,4.50,7.30,5
149,149,162,"Washington-Arlington-Alexandria, DC-VA-MD-WV.....",5.90,2.40,6.10,2.40,5.10,2.20,5.20,2.30
150,150,163,"Worcester, MA....................................",4.50,4.40,4.70,4.60,1.10,2.20,0.40,1.20

In [311]:
# this doesn't have the actual CBSA codes, so get two files and merge them and join with this
# the two files are here from OMB:
# https://www.census.gov/geographies/reference-files/time-series/demo/metro-micro/delineation-files.html

CBSAs1 = pd.read_excel('../data/list1_2020.xls',
                        header=2)
                        #, skipfooter=1919)
# drop footer
CBSAs1 = CBSAs1.iloc[:1916, :]
CBSAs1.tail()

,CBSA Code,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County
1911,49700,nan,472.00,"Yuba City, CA",Metropolitan Statistical Area,NaN,"Sacramento-Roseville, CA",Sutter County,California,6.00,101.00,Central
1912,49700,nan,472.00,"Yuba City, CA",Metropolitan Statistical Area,NaN,"Sacramento-Roseville, CA",Yuba County,California,6.00,115.00,Central
1913,49740,nan,nan,"Yuma, AZ",Metropolitan Statistical Area,NaN,NaN,Yuma County,Arizona,4.00,27.00,Central
1914,49780,nan,198.00,"Zanesville, OH",Micropolitan Statistical Area,NaN,"Columbus-Marion-Zanesville, OH",Muskingum County,Ohio,39.00,119.00,Central
1915,49820,nan,nan,"Zapata, TX",Micropolitan Statistical Area,NaN,NaN,Zapata County,Texas,48.00,505.00,Central

In [312]:
CBSAs2 = pd.read_excel('../data/list2_2020.xls', header=2)
# drop footer
CBSAs2 = CBSAs2.iloc[:1269, :]
CBSAs2.tail()

,CBSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Principal City Name,FIPS State Code,FIPS Place Code
1264,49660,"Youngstown-Warren-Boardman, OH-PA",Metropolitan Statistical Area,Youngstown,39.00,"88,000.00"
1265,49700,"Yuba City, CA",Metropolitan Statistical Area,Yuba City,6.00,"86,972.00"
1266,49740,"Yuma, AZ",Metropolitan Statistical Area,Yuma,4.00,"85,540.00"
1267,49780,"Zanesville, OH",Micropolitan Statistical Area,Zanesville,39.00,"88,084.00"
1268,49820,"Zapata, TX",Micropolitan Statistical Area,Zapata,48.00,"80,716.00"

In [109]:
a = CBSAs1['CBSA Code'].unique()
print(len(a))
b = CBSAs2['CBSA Code'].unique()
print(len(b))

939
939

In [292]:
# should be 917.. not all of them are unique without the place code..
CBSAs1.iloc[25:27,:]
# maybe for now just keep CBSA but not county equivalent etc

,CBSA Code,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County
25,10580,nan,104.00,"Albany-Schenectady-Troy, NY",Metropolitan Statistical Area,NaN,"Albany-Schenectady, NY",Albany County,New York,36.00,1.00,Central
26,10580,nan,104.00,"Albany-Schenectady-Troy, NY",Metropolitan Statistical Area,NaN,"Albany-Schenectady, NY",Rensselaer County,New York,36.00,83.00,Central

In [313]:
# clean up column names
CBSAs1.columns = CBSAs1.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
CBSAs2.columns = CBSAs2.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [157]:
CBSAs1.head(1)

,cbsa_code,metropolitan_division_code,csa_code,cbsa_title,metropolitan/micropolitan_statistical_area,metropolitan_division_title,csa_title,county/county_equivalent,state_name,fips_state_code,fips_county_code,central/outlying_county
0,10100,nan,nan,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Brown County,South Dakota,46.00,13.00,Central

In [158]:
CBSAs2.head(1)

,cbsa_code,cbsa_title,metropolitan/micropolitan_statistical_area,principal_city_name,fips_state_code,fips_place_code
0,10100,"Aberdeen, SD",Micropolitan Statistical Area,Aberdeen,46.00,100.00

In [314]:
# get rid of newline in col
# CBSAs1 = CBSAs1.rename(columns= {CBSAs1.columns[0]: "CBSA" })
# CBSAs2 = CBSAs2.rename(columns= {CBSAs2.columns[0]: "CBSA" })
CBSAs1 = CBSAs1.iloc[:, [0,1,2,3,4,6,8]]
CBSAs2 = CBSAs2.drop(['principal_city_name','fips_place_code'], axis=1)

In [160]:
CBSAs1.head(1)

,cbsa_code,metropolitan_division_code,csa_code,cbsa_title,metropolitan/micropolitan_statistical_area,csa_title,state_name
0,10100,nan,nan,"Aberdeen, SD",Micropolitan Statistical Area,NaN,South Dakota

In [161]:
CBSAs2.head(1)

,cbsa_code,cbsa_title,metropolitan/micropolitan_statistical_area,fips_state_code
0,10100,"Aberdeen, SD",Micropolitan Statistical Area,46.00

In [ ]:
# merge them
# give up this for now..
#pd.merge(CBSAs1, CBSAs2, how='inner',  on = 'cbsa_code')

In [315]:
# this is what we will merge
CBSAs = CBSAs2.iloc[:, [0,1]]

In [316]:
CBSAs.head(100)

   cbsa_code         cbsa_title
0      10100       Aberdeen, SD
1      10140       Aberdeen, WA
2      10180        Abilene, TX
3      10220            Ada, OK
4      10300         Adrian, MI
..       ...                ...
95     13300       Beeville, TX
96     13340  Bellefontaine, OH
97     13380     Bellingham, WA
98     13420        Bemidji, MN
99     13460           Bend, OR

[100 rows x 2 columns]

In [317]:
CBSAs.head(20)
CBSAs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1269 entries, 0 to 1268
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cbsa_code   1269 non-null   object
 1   cbsa_title  1269 non-null   object
dtypes: object(2)
memory usage: 20.0+ KB

In [ ]:
#pd.unique(CBSAs)

In [297]:
# clean up col for merge
vacancy['cbsa_title'] = vacancy['cbsa_title'].str.strip().str.replace('.', '')
vacancy.head()

,cbsa_title,Q1,ErrorMargin1,Q2,ErrorMargin2,Q3,ErrorMargin3,Q4,ErrorMargin4
76,"Akron, OH",2,4.10,3.60,6.10,4,5.70,14.20,10.10
77,"Albany-Schenectady-Troy, NY",7.90,6.60,10.80,7,15.50,9.20,15.60,8.80
78,"Albuquerque, NM",7.10,3.70,6.80,3.60,7.80,3.70,4.40,2.70
79,"Allentown-Bethlehem-Easton, PA-NJ",7.70,7.70,3.20,5,0,(z),6.10,7.20
80,"Atlanta-Sandy Springs-Roswell, GA",7.80,2.70,7.60,2.70,6.40,2.50,5.90,2.30

In [239]:
vacancy['cbsa_title'] = vacancy['cbsa_title'].str.replace('\d*$', '').str.replace('…', '')
vacancy['cbsa_title'] = vacancy['cbsa_title'].str.replace('Philadelphia-Camden-Wilmington, PA-NJ-DE-MD21', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD')
vacancy.head(50)
vacancy.tail(50)

,level_0,index,cbsa_title,Q1,ErrorMargin1,Q2,ErrorMargin2,Q3,ErrorMargin3,Q4,ErrorMargin4
101,101,114,"Grand Rapids-Wyoming, MI",4.90,6.20,4.90,5.60,2.80,4.70,5.50,7.20
102,102,115,"Greensboro-High Point, NC",9.80,7.50,7.10,5.80,5.10,4.70,10.90,6.70
103,103,116,"Hartford-West Hartford-East Hartford, CT",3.10,3.20,4.50,3.70,5.90,4.20,3.60,3.60
104,104,117,"Houston-The Woodlands-Sugar Land, TX",10.60,2.80,11.80,2.90,12.40,3.10,10.80,2.90
105,105,118,"Indianapolis-Carmel-Anderson, IN",5.70,3.60,9.10,4.80,7.20,4.20,6.30,3.60
106,106,119,"Jacksonville, FL",4.70,3.90,6.90,5,4.70,4.10,4.50,3.90
107,107,120,"Kansas City, MO-KS",13.10,4.10,5.80,2.70,9.50,3.30,11.90,3.70
108,108,121,"Knoxville, TN",3.60,4.30,9.70,7.20,10.10,6.70,5.20,5
109,109,122,"Las Vegas-Henderson-Paradise, NV",6.40,2.60,4.80,2.20,5.20,2.20,5.60,2.50
110,110,123,"Little Rock-North Little Rock-Conway, AR",13.20,9,9.80,7.50,10.80,8.20,12.10,8.40
111,111,124,"Los Angeles-Long Beach-Anaheim, CA",3.60,1.10,4.50,1.20,3.90,1.10,4,1.10
112,112,125,"Louisville/Jefferson County, KY-IN",11.90,5.80,13.30,6,8.60,5,8.20,5.10
113,113,126,"Memphis, TN-AR-MS",13,6.20,8.70,4.90,11.60,5.70,9.30,4.90
114,114,127,"Miami-Fort Lauderdale-West Palm Beach, FL",7.80,2.70,6.30,2.20,6.90,2.30,7.30,2.60
115,115,128,"Milwaukee-Waukesha-West Allis, WI",7.30,4.20,5.80,3.70,6.20,4.10,7.30,4.50
116,116,129,"Minneapolis-St Paul-Bloomington, MN-WI",5.10,3,5.90,3.10,2,2,3.10,2.60
117,117,130,"Nashville-Davidson-Murfreesboro-Franklin, TN",9.70,4.40,10.40,4.80,6.70,4.30,6.90,4.50
118,118,131,"New Haven-Milford, CT",1.80,3,10.80,6.90,13.50,8.60,8.30,6.60
119,119,132,"New Orleans-Metairie, LA",11.30,4.60,7.80,3.70,9,3.80,9.80,4.50
120,120,133,"New York-Newark-Jersey City, NY-NJ-PA",4,0.90,4.60,1,4.30,1,4.30,1
121,121,134,"North Port-Bradenton-Sarasota, FL",5.20,7.70,3.90,6.80,6.70,9.80,7.10,7.40
122,122,135,"Oklahoma City, OK",11.70,5.10,11.90,4.90,7.30,3.90,3.80,2.90
123,123,136,"Omaha-Council Bluffs, NE-IA",6.90,3.70,5,3.20,7.60,4,5.70,3.40
124,124,137,"Orlando-Kissimmee-Sanford, FL",6.90,3.60,9.20,4.10,7.10,3.60,10.30,4.60
125,125,138,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",8.40,2.80,6.40,2.60,8,2.90,5.40,2.40
126,126,139,"Phoenix-Mesa-Scottsdale, AZ",4,2.20,5.60,2.70,5.30,2.60,5.10,2.40
127,127,140,"Pittsburgh, PA",5.30,3.90,7.20,4.40,5.80,3.90,11.20,5.50
128,128,141,"Portland-Vancouver-Hillsboro, OR-WA",5.60,2.60,4.10,2.30,4.70,2.40,3.20,1.90
129,129,142,"Providence-Warwick, RI-MA",3.50,1.60,4.60,2,4.70,2,4.30,1.90
130,130,143,"Raleigh, NC",6.50,4.80,8,5.20,8.90,5.90,4.60,4.30
131,131,144,"Richmond, VA",7.60,5.60,13.60,7.50,10.70,7.20,7.10,5
132,132,145,"Riverside-San Bernardino-Ontario, CA",5.50,2.70,3.70,2.30,5.50,2.90,3.30,2.30
133,133,146,"Rochester, NY",6.90,5.40,4,4.10,9.10,6.40,3,4.50
134,134,147,"Sacramento-Roseville-Arden-Arcade, CA",3.70,2.60,5.90,3.80,5.10,3.70,2.70,2.40
135,135,148,"St Louis, MO-IL",8.10,3.80,7.60,3.70,10.60,4.40,9.10,4.20
136,136,149,"Salt Lake City, UT",6.50,4.10,4.40,3.40,5.30,3.80,3.60,3.30
137,137,150,"San Antonio-New Braunfels, TX",9.30,4.30,13.10,5.10,9,4.10,8.90,4.30
138,138,151,"San Diego-Carlsbad, CA",5.50,2.70,7,3,7,3.40,3.80,2.40
139,139,152,"San Francisco-Oakland-Hayward, CA",3.90,1.90,4.70,2.10,3.30,1.80,3.30,1.80
140,140,153,"San Jose-Sunnyvale-Santa Clara, CA",2.50,2.50,2,2.20,3.70,3,6.30,3.60
141,141,154,"Seattle-Tacoma-Bellevue, WA",3.90,2.20,3.30,2.10,4.60,2.30,5.60,2.60
142,142,155,"Syracuse, NY",17.90,13.20,5,6.50,11.80,8.10,11.80,9.80
143,143,156,"Tampa-St Petersburg-Clearwater, FL",11.80,4.60,12,4.40,10,4.30,8.80,4.10
144,144,157,"Toledo, OH",18.10,13.80,7.40,10.60,4.30,7.10,10.60,8.70
145,145,158,"Tucson, AZ",5,4.30,8.10,5.90,10,7,6.80,5.50
146,146,159,"Tulsa, OK",7,5.30,8.60,5.40,10.30,5.90,7.90,5.20
147,147,160,"Urban Honolulu, HI",5.90,2.70,6,2.70,6,2.70,4.60,2.40
148,148,161,"Virginia Beach-Norfolk-Newport News, VA-NC",8.50,5.50,6.20,4.10,6.50,4.50,7.30,5
149,149,162,"Washington-Arlington-Alexandria, DC-VA-MD-WV",5.90,2.40,6.10,2.40,5.10,2.20,5.20,2.30
150,150,163,"Worcester, MA",4.50,4.40,4.70,4.60,1.10,2.20,0.40,1.20

In [249]:
vacancy = vacancy.drop(['level_0', 'index'], axis=1)

KeyError: "['level_0' 'index'] not found in axis"

In [250]:
vacancy.shape

(75, 9)

In [252]:
CBSAs.shape

(1269, 2)

In [329]:
CBSAs.to_csv('CBSAs.csv', index=False)

In [318]:
CBSAs['cbsa_code'] = CBSAs['cbsa_code'].apply(pd.to_numeric)

/opt/anaconda3/envs/realty-market-app/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [322]:
CBSAs['cbsa_title'] = CBSAs['cbsa_title'].astype(str)

/opt/anaconda3/envs/realty-market-app/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [323]:
CBSAs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1269 entries, 0 to 1268
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cbsa_code   1269 non-null   int64
 1   cbsa_title  1269 non-null   object
dtypes: int64(1), object(1)
memory usage: 20.0+ KB

In [324]:
CBSAs.head(20)

    cbsa_code                   cbsa_title
0       10100                 Aberdeen, SD
1       10140                 Aberdeen, WA
2       10180                  Abilene, TX
3       10220                      Ada, OK
4       10300                   Adrian, MI
5       10380        Aguadilla-Isabela, PR
6       10380        Aguadilla-Isabela, PR
7       10420                    Akron, OH
8       10460               Alamogordo, NM
9       10500                   Albany, GA
10      10540           Albany-Lebanon, OR
11      10540           Albany-Lebanon, OR
12      10580  Albany-Schenectady-Troy, NY
13      10580  Albany-Schenectady-Troy, NY
14      10580  Albany-Schenectady-Troy, NY
15      10620                Albemarle, NC
16      10660               Albert Lea, MN
17      10700              Albertville, AL
18      10740              Albuquerque, NM
19      10760           Alexander City, AL

In [302]:
vacancy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 76 to 150
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cbsa_title    75 non-null     object
 1   Q1            75 non-null     object
 2   ErrorMargin1  75 non-null     object
 3   Q2            75 non-null     object
 4   ErrorMargin2  75 non-null     object
 5   Q3            75 non-null     object
 6   ErrorMargin3  75 non-null     object
 7   Q4            75 non-null     object
 8   ErrorMargin4  75 non-null     object
dtypes: object(9)
memory usage: 5.4+ KB

In [325]:
vacancy['cbsa_title'] = vacancy['cbsa_title'].astype(str)

In [326]:
vacancy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 76 to 150
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cbsa_title    75 non-null     object
 1   Q1            75 non-null     object
 2   ErrorMargin1  75 non-null     object
 3   Q2            75 non-null     object
 4   ErrorMargin2  75 non-null     object
 5   Q3            75 non-null     object
 6   ErrorMargin3  75 non-null     object
 7   Q4            75 non-null     object
 8   ErrorMargin4  75 non-null     object
dtypes: object(9)
memory usage: 5.4+ KB

In [330]:
vacancy_merge = pd.merge(vacancy, CBSAs, how= 'left', on = 'cbsa_title')
# why duplicates?
vacancy_merge.shape

(199, 10)

In [331]:
vacancy_merge.head(20)

,cbsa_title,Q1,ErrorMargin1,Q2,ErrorMargin2,Q3,ErrorMargin3,Q4,ErrorMargin4,cbsa_code
0,"Akron, OH",2,4.10,3.60,6.10,4,5.70,14.20,10.10,"10,420.00"
1,"Albany-Schenectady-Troy, NY",7.90,6.60,10.80,7,15.50,9.20,15.60,8.80,"10,580.00"
2,"Albany-Schenectady-Troy, NY",7.90,6.60,10.80,7,15.50,9.20,15.60,8.80,"10,580.00"
3,"Albany-Schenectady-Troy, NY",7.90,6.60,10.80,7,15.50,9.20,15.60,8.80,"10,580.00"
4,"Albuquerque, NM",7.10,3.70,6.80,3.60,7.80,3.70,4.40,2.70,"10,740.00"
5,"Allentown-Bethlehem-Easton, PA-NJ",7.70,7.70,3.20,5,0,(z),6.10,7.20,"10,900.00"
6,"Allentown-Bethlehem-Easton, PA-NJ",7.70,7.70,3.20,5,0,(z),6.10,7.20,"10,900.00"
7,"Atlanta-Sandy Springs-Roswell, GA",7.80,2.70,7.60,2.70,6.40,2.50,5.90,2.30,nan
8,"Austin-Round Rock, TX",12.30,5.10,9.10,4.70,6.40,4.10,4.40,3.40,nan
9,"Baltimore-Columbia-Towson, MD",7.70,3.70,8.10,4,11.50,4.70,8.10,4.40,"12,580.00"
10,"Baltimore-Columbia-Towson, MD",7.70,3.70,8.10,4,11.50,4.70,8.10,4.40,"12,580.00"
11,"Baltimore-Columbia-Towson, MD",7.70,3.70,8.10,4,11.50,4.70,8.10,4.40,"12,580.00"
12,"Baton Rouge, LA",8.20,4.80,9,5.30,10.20,5.50,12.80,5.40,"12,940.00"
13,"Birmingham-Hoover, AL",11.50,5.10,13.50,5.60,6.60,4.30,9.80,5.40,"13,820.00"
14,"Birmingham-Hoover, AL",11.50,5.10,13.50,5.60,6.60,4.30,9.80,5.40,"13,820.00"
15,"Boston-Cambridge-Newton, MA-NH",1.70,1.20,2.90,1.50,4.80,1.90,5,1.90,"14,460.00"
16,"Boston-Cambridge-Newton, MA-NH",1.70,1.20,2.90,1.50,4.80,1.90,5,1.90,"14,460.00"
17,"Boston-Cambridge-Newton, MA-NH",1.70,1.20,2.90,1.50,4.80,1.90,5,1.90,"14,460.00"
18,"Boston-Cambridge-Newton, MA-NH",1.70,1.20,2.90,1.50,4.80,1.90,5,1.90,"14,460.00"
19,"Boston-Cambridge-Newton, MA-NH",1.70,1.20,2.90,1.50,4.80,1.90,5,1.90,"14,460.00"

In [335]:
vacancy_merge.to_csv('vacancy_merge2.csv', index=False)

In [257]:
!pwd

/Users/paultanger/Desktop/github/realty-markets-analyzer/notebooks

In [332]:
# keep unique
vacancy_merge = vacancy_merge.drop_duplicates()
vacancy_merge.shape
vacancy_merge.head()

,cbsa_title,Q1,ErrorMargin1,Q2,ErrorMargin2,Q3,ErrorMargin3,Q4,ErrorMargin4,cbsa_code
0,"Akron, OH",2,4.10,3.60,6.10,4,5.70,14.20,10.10,"10,420.00"
1,"Albany-Schenectady-Troy, NY",7.90,6.60,10.80,7,15.50,9.20,15.60,8.80,"10,580.00"
4,"Albuquerque, NM",7.10,3.70,6.80,3.60,7.80,3.70,4.40,2.70,"10,740.00"
5,"Allentown-Bethlehem-Easton, PA-NJ",7.70,7.70,3.20,5,0,(z),6.10,7.20,"10,900.00"
7,"Atlanta-Sandy Springs-Roswell, GA",7.80,2.70,7.60,2.70,6.40,2.50,5.90,2.30,nan

In [333]:
vacancy_merge.shape

(75, 10)

In [334]:
# lots of little issues that aren't matching
vacancy_merge[pd.isna(vacancy_merge['cbsa_code'])]

,cbsa_title,Q1,ErrorMargin1,Q2,ErrorMargin2,Q3,ErrorMargin3,Q4,ErrorMargin4,cbsa_code
7,"Atlanta-Sandy Springs-Roswell, GA",7.80,2.70,7.60,2.70,6.40,2.50,5.90,2.30,nan
8,"Austin-Round Rock, TX",12.30,5.10,9.10,4.70,6.40,4.10,4.40,3.40,nan
25,"Buffalo-Cheektowaga-Niagara Falls, NY",5.20,5,10.40,7.20,2.80,3.70,7.50,5.90,nan
28,"Charleston-North Charleston-Summerville, SC",13.60,8.70,14.90,8.40,16.50,8.90,21,9.30,nan
48,"Dallas-Ft Worth-Arlington, TX",6.70,2.10,5.60,1.90,8.60,2.40,6.60,2.20,nan
49,"Dayton, OH",5.70,6.80,15.80,10.70,7.30,7.30,9.70,8.10,nan
67,"Grand Rapids-Wyoming, MI",4.90,6.20,4.90,5.60,2.80,4.70,5.50,7.20,nan
70,"Hartford-West Hartford-East Hartford, CT",3.10,3.20,4.50,3.70,5.90,4.20,3.60,3.60,nan
111,"Memphis, TN-AR-MS",13,6.20,8.70,4.90,11.60,5.70,9.30,4.90,nan
112,"Miami-Fort Lauderdale-West Palm Beach, FL",7.80,2.70,6.30,2.20,6.90,2.30,7.30,2.60,nan
113,"Milwaukee-Waukesha-West Allis, WI",7.30,4.20,5.80,3.70,6.20,4.10,7.30,4.50,nan
114,"Minneapolis-St Paul-Bloomington, MN-WI",5.10,3,5.90,3.10,2,2,3.10,2.60,nan
115,"Nashville-Davidson-Murfreesboro-Franklin, TN",9.70,4.40,10.40,4.80,6.70,4.30,6.90,4.50,nan
126,"North Port-Bradenton-Sarasota, FL",5.20,7.70,3.90,6.80,6.70,9.80,7.10,7.40,nan
136,"Phoenix-Mesa-Scottsdale, AZ",4,2.20,5.60,2.70,5.30,2.60,5.10,2.40,nan
145,"Raleigh, NC",6.50,4.80,8,5.20,8.90,5.90,4.60,4.30,nan
156,"Sacramento-Roseville-Arden-Arcade, CA",3.70,2.60,5.90,3.80,5.10,3.70,2.70,2.40,nan
157,"St Louis, MO-IL",8.10,3.80,7.60,3.70,10.60,4.40,9.10,4.20,nan
161,"San Diego-Carlsbad, CA",5.50,2.70,7,3,7,3.40,3.80,2.40,nan
162,"San Francisco-Oakland-Hayward, CA",3.90,1.90,4.70,2.10,3.30,1.80,3.30,1.80,nan
180,"Tampa-St Petersburg-Clearwater, FL",11.80,4.60,12,4.40,10,4.30,8.80,4.10,nan
198,"Worcester, MA",4.50,4.40,4.70,4.60,1.10,2.20,0.40,1.20,nan

In [338]:
# just fix it manually
vacancy_merge2 = pd.read_csv('../data/vacancy_merge_fixed.csv')
vacancy_merge2.head()
vacancy_merge2[pd.isna(vacancy_merge2['cbsa_code'])]

Empty DataFrame
Columns: [cbsa_title, Q1, ErrorMargin1, Q2, ErrorMargin2, Q3, ErrorMargin3, Q4, ErrorMargin4, cbsa_code]
Index: []

In [9]:
# TODO: split the city and state into new col? or do it in SQL?

In [339]:
construction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CSA               384 non-null    int64
 1   CBSA              384 non-null    int64
 2   Name              384 non-null    object
 3   Total             384 non-null    int64
 4   unit_1            384 non-null    int64
 5   2 Units           384 non-null    int64
 6   unit_34           384 non-null    int64
 7   unit_5            384 non-null    int64
 8   unit_for_5orMore  384 non-null    int64
dtypes: int64(8), object(1)
memory usage: 27.1+ KB

In [341]:
# now merge with construction
vaca_constr = pd.merge(vacancy_merge2, construction, how= 'left', left_on = 'cbsa_code', right_on = 'CBSA')

In [347]:
vaca_constr.head()
vaca_constr.shape
vaca_constr[vaca_constr.isna().any(axis=1)]

,cbsa_title,Q1,ErrorMargin1,Q2,ErrorMargin2,Q3,ErrorMargin3,Q4,ErrorMargin4,cbsa_code,CSA,CBSA,Name,Total,unit_1,2 Units,unit_34,unit_5,unit_for_5orMore
25,"Grand Rapids-Wyoming, MI",4.90,6.20,4.90,5.60,2.80,4.7,5.50,7.20,24330,nan,nan,NaN,nan,nan,nan,nan,nan,nan

In [533]:
# save these
vaca_constr.to_csv('../data/vaca_constr.csv', index=False)
prices.to_csv('../data/prices.csv', index=False)

### population

In [348]:
# default utf-8 didn't work
population = pd.read_csv('../data/sub-est2019_all.csv', encoding = "ISO-8859-1")
population.head()
#population.shape

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,...,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
0,40,1,0,0,0,0,0,A,Alabama,Alabama,...,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,162,1,0,124,0,0,0,A,Abbeville city,Alabama,...,2699,2694,2643,2628,2608,2600,2584,2575,2571,2560
2,162,1,0,460,0,0,0,A,Adamsville city,Alabama,...,4500,4493,4471,4449,4420,4390,4356,4327,4308,4281
3,162,1,0,484,0,0,0,A,Addison town,Alabama,...,751,750,743,742,739,734,731,726,723,718
4,162,1,0,676,0,0,0,A,Akron town,Alabama,...,355,347,347,343,338,339,333,332,331,328

### ZIP and CBSA crosswalk files

In [535]:
# 4th quarter ZIP and CBSA crosswalk files:
# some ZIPs are in multiple CBSAs?
# how many unique do we have?
# from wikipedia, says there is around 900:
# https://en.wikipedia.org/wiki/List_of_core-based_statistical_areas

# TODO: figure this out

# load the CBSA to ZIP, since we have more zip data.. we could plot or get means of zips within multiple CBSAs
CBSA_to_ZIP = pd.read_excel('../data/CBSA_ZIP_122019.xlsx')

In [536]:
CBSA_to_ZIP.head()

    CBSA    ZIP  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  10100  57426       0.00       0.00       0.00       0.00
1  10100  57475       0.00       0.00       0.00       0.00
2  10100  57435       0.00       0.00       0.00       0.00
3  10100  57466       0.00       0.00       0.00       0.00
4  10100  57422       0.00       0.00       0.00       0.00

In [537]:
CBSA_to_ZIP.shape

(50754, 6)

In [543]:
prices.head()

,RegionName,State,City,Metro,CountyName,month_date,house_price,rent_price
0,10025,NY,New York,New York-Newark-Jersey City,New York County,2019-01,"1,442,745.00","3,213.00"
1,60657,IL,Chicago,Chicago-Naperville-Elgin,Cook County,2019-01,"973,282.00","1,860.00"
2,10023,NY,New York,New York-Newark-Jersey City,New York County,2019-01,"1,689,338.00","3,212.00"
3,77494,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,2019-01,"337,064.00","1,834.00"
4,60614,IL,Chicago,Chicago-Naperville-Elgin,Cook County,2019-01,"1,207,290.00","2,090.00"

In [541]:
# keep what we need
CBSA_to_ZIP = CBSA_to_ZIP.iloc[:,[0,1]]

In [551]:
# merge with prices
prices_CBSA = pd.merge(CBSA_to_ZIP, prices, left_on='ZIP', right_on='RegionName', how='inner')

In [552]:
prices_CBSA.head()

,CBSA,ZIP,RegionName,State,City,Metro,CountyName,month_date,house_price,rent_price
0,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-01,"241,373.00","1,210.00"
1,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-02,"242,013.00","1,234.00"
2,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-03,"242,620.00","1,241.00"
3,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-04,"243,485.00","1,270.00"
4,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-05,"244,326.00","1,260.00"

In [553]:
prices_CBSA.shape

(55608, 10)

In [554]:
prices.shape

(38808, 8)

In [555]:
prices_CBSA.to_csv('prices_CBSA.csv', index=False)

In [563]:
vaca_constr.head(20)
vaca_constr.shape

(75, 19)

In [565]:
# now merge with vaca_constr
prices_CBSA_vaca_construction = pd.merge(prices_CBSA, vaca_constr, how='left')
prices_CBSA_vaca_construction.head()

,CBSA,ZIP,RegionName,State,City,Metro,CountyName,month_date,house_price,rent_price,...,ErrorMargin4,cbsa_code,CSA,Name,Total,unit_1,2 Units,unit_34,unit_5,unit_for_5orMore
0,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-01,"241,373.00","1,210.00",...,10.10,"10,420.00",184.00,"Akron, OH ...",945.00,856.00,2.00,32.00,55.00,1.00
1,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-02,"242,013.00","1,234.00",...,10.10,"10,420.00",184.00,"Akron, OH ...",945.00,856.00,2.00,32.00,55.00,1.00
2,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-03,"242,620.00","1,241.00",...,10.10,"10,420.00",184.00,"Akron, OH ...",945.00,856.00,2.00,32.00,55.00,1.00
3,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-04,"243,485.00","1,270.00",...,10.10,"10,420.00",184.00,"Akron, OH ...",945.00,856.00,2.00,32.00,55.00,1.00
4,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-05,"244,326.00","1,260.00",...,10.10,"10,420.00",184.00,"Akron, OH ...",945.00,856.00,2.00,32.00,55.00,1.00

In [566]:
prices_CBSA_vaca_construction.shape

(55608, 28)

In [567]:
prices_CBSA_vaca_construction.to_csv('prices_CBSA_vaca_construction.csv', index=False)

### Import into SQL

In [ ]:
# open connection and create database
#database='realty-db'
try:
    with pg2.connect(user='postgres', password=getpass.getpass(), host='localhost', port='5435') as conn:
        with conn.cursor() as curs:
            conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
            curs.execute(sql.SQL("CREATE DATABASE {}").format(sql.Identifier(database)))
finally:
    conn.close()

In [ ]:
# a way to install things from within notebook!
# !conda install sqlalchemy ! is for terminal command

In [73]:
# delete tables if they exist until we get this working
#sqlDeleteTables = '''DROP TABLE population, home_prices, rent_prices, construction;'''

try:
    with pg2.connect(database="realty-db", user="postgres", password='password', host="localhost", port="5435") as conn:
        with conn.cursor() as curs:
            curs.execute(sqlDeleteTables)
finally:
    conn.close()

UndefinedTable: table "population" does not exist

In [74]:
# tables we need..
# vacancy
# construction
# rent_prices
# home_prices

# switch to from sqlalchemy import create_engine
engine = sqlalchemy.create_engine('postgresql://postgres:password@localhost:5435/realty-db', echo=True)
connection = engine.connect()

# make tables
#with engine.connect() as connection:
#result = connection.execute("select username from users")
#connection = engine.raw_connection()
    
population.to_sql('population', connection)
construction.to_sql('construction', connection)
rent_prices.to_sql('rent_prices', connection)
home_prices.to_sql('home_prices', connection)

connection.close()

2020-07-20 18:50:36,818 INFO sqlalchemy.engine.base.Engine select version()
2020-07-20 18:50:36,819 INFO sqlalchemy.engine.base.Engine {}
2020-07-20 18:50:36,826 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-07-20 18:50:36,826 INFO sqlalchemy.engine.base.Engine {}
2020-07-20 18:50:36,833 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-07-20 18:50:36,834 INFO sqlalchemy.engine.base.Engine {}
2020-07-20 18:50:36,838 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-07-20 18:50:36,839 INFO sqlalchemy.engine.base.Engine {}
2020-07-20 18:50:36,843 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-07-20 18:50:36,844 INFO sqlalchemy.engine.base.Engine {}
2020-07-20 18:50:36,883 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-07-20 18:50:36,884 INFO sqlalchemy.engine.base.Engine {'name': 'population'}
2020-07-20 18:50:36,899 INFO sqlalchemy.engine.base.Engine
CREATE TABLE population (
	index BIGINT,
	"SUMLEV" BIGINT,
	"STATE" BIGINT,
	"COUNTY" BIGINT,
	"PLACE" BIGINT,
	"COUSUB" BIGINT,
	"CONCIT" BIGINT,
	"PRIMGEO_FLAG" BIGINT,
	"FUNCSTAT" TEXT,
	"NAME" TEXT,
	"STNAME" TEXT,
	"CENSUS2010POP" TEXT,
	"ESTIMATESBASE2010" BIGINT,
	"POPESTIMATE2010" BIGINT,
	"POPESTIMATE2011" BIGINT,
	"POPESTIMATE2012" BIGINT,
	"POPESTIMATE2013" BIGINT,
	"POPESTIMATE2014" BIGINT,
	"POPESTIMATE2015" BIGINT,
	"POPESTIMATE2016" BIGINT,
	"POPESTIMATE2017" BIGINT,
	"POPESTIMATE2018" BIGINT,
	"POPESTIMATE2019" BIGINT
)


2020-07-20 18:50:36,900 INFO sqlalchemy.engine.base.Engine {}
2020-07-20 18:50:36,919 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-20 18:50:36,928 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_population_index ON population (index)
2020-07-20 18:50:36,930 INFO sqlalchemy.engine.base.Engine {}
2020-07-20 18:50:36,945 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-20 18:50:37,013 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-07-20 18:50:40,513 INFO sqlalchemy.engine.base.Engine INSERT INTO population (index, "SUMLEV", "STATE", "COUNTY", "PLACE", "COUSUB", "CONCIT", "PRIMGEO_FLAG", "FUNCSTAT", "NAME", "STNAME", "CENSUS2010POP", "ESTIMATESBASE2010", "POPESTIMATE2010", "POPESTIMATE2011", "POPESTIMATE2012", "POPESTIMATE2013", "POPESTIMATE2014", "POPESTIMATE2015", "POPESTIMATE2016", "POPESTIMATE2017", "POPESTIMATE2018", "POPESTIMATE2019") VALUES (%(index)s, %(SUMLEV)s, %(STATE)s, %(COUNTY)s, %(PLACE)s, %(COUSUB)s, %(CONCIT)s, %(PRIMGEO_FLAG)s, %(FUNCSTAT)s, %(NAME)s, %(STNAME)s, %(CENSUS2010POP)s, %(ESTIMATESBASE2010)s, %(POPESTIMATE2010)s, %(POPESTIMATE2011)s, %(POPESTIMATE2012)s, %(POPESTIMATE2013)s, %(POPESTIMATE2014)s, %(POPESTIMATE2015)s, %(POPESTIMATE2016)s, %(POPESTIMATE2017)s, %(POPESTIMATE2018)s, %(POPESTIMATE2019)s)
2020-07-20 18:50:40,514 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'SUMLEV': 40, 'STATE': 1, 'COUNTY': 0, 'PLACE': 0, 'COUSUB': 0, 'CONCIT': 0, 'PRIMGEO_FLAG': 0, 'FUNCSTAT': 'A', 'NAME': 'Alabama', 'STNAME': 'Alabama', 'CENSUS2010POP': '4779736', 'ESTIMATESBASE2010': 4780125, 'POPESTIMATE2010': 4785437, 'POPESTIMATE2011': 4799069, 'POPESTIMATE2012': 4815588, 'POPESTIMATE2013': 4830081, 'POPESTIMATE2014': 4841799, 'POPESTIMATE2015': 4852347, 'POPESTIMATE2016': 4863525, 'POPESTIMATE2017': 4874486, 'POPESTIMATE2018': 4887681, 'POPESTIMATE2019': 4903185}, {'index': 1, 'SUMLEV': 162, 'STATE': 1, 'COUNTY': 0, 'PLACE': 124, 'COUSUB': 0, 'CONCIT': 0, 'PRIMGEO_FLAG': 0, 'FUNCSTAT': 'A', 'NAME': 'Abbeville city', 'STNAME': 'Alabama', 'CENSUS2010POP': '2688', 'ESTIMATESBASE2010': 2705, 'POPESTIMATE2010': 2699, 'POPESTIMATE2011': 2694, 'POPESTIMATE2012': 2643, 'POPESTIMATE2013': 2628, 'POPESTIMATE2014': 2608, 'POPESTIMATE2015': 2600, 'POPESTIMATE2016': 2584, 'POPESTIMATE2017': 2575, 'POPESTIMATE2018': 2571, 'POPESTIMATE2019': 2560}, {'index': 2, 'SUMLEV': 162, 'STATE': 1, 'COUNTY': 0, 'PLACE': 460, 'COUSUB': 0, 'CONCIT': 0, 'PRIMGEO_FLAG': 0, 'FUNCSTAT': 'A', 'NAME': 'Adamsville city', 'STNAME': 'Alabama', 'CENSUS2010POP': '4522', 'ESTIMATESBASE2010': 4506, 'POPESTIMATE2010': 4500, 'POPESTIMATE2011': 4493, 'POPESTIMATE2012': 4471, 'POPESTIMATE2013': 4449, 'POPESTIMATE2014': 4420, 'POPESTIMATE2015': 4390, 'POPESTIMATE2016': 4356, 'POPESTIMATE2017': 4327, 'POPESTIMATE2018': 4308, 'POPESTIMATE2019': 4281}, {'index': 3, 'SUMLEV': 162, 'STATE': 1, 'COUNTY': 0, 'PLACE': 484, 'COUSUB': 0, 'CONCIT': 0, 'PRIMGEO_FLAG': 0, 'FUNCSTAT': 'A', 'NAME': 'Addison town', 'STNAME': 'Alabama', 'CENSUS2010POP': '758', 'ESTIMATESBASE2010': 754, 'POPESTIMATE2010': 751, 'POPESTIMATE2011': 750, 'POPESTIMATE2012': 743, 'POPESTIMATE2013': 742, 'POPESTIMATE2014': 739, 'POPESTIMATE2015': 734, 'POPESTIMATE2016': 731, 'POPESTIMATE2017': 726, 'POPESTIMATE2018': 723, 'POPESTIMATE2019': 718}, {'index': 4, 'SUMLEV': 162, 'STATE': 1, 'COUNTY': 0, 'PLACE': 676, 'COUSUB': 0, 'CONCIT': 0, 'PRIMGEO_FLAG': 0, 'FUNCSTAT': 'A', 'NAME': 'Akron town', 'STNAME': 'Alabama', 'CENSUS2010POP': '356', 'ESTIMATESBASE2010': 356, 'POPESTIMATE2010': 355, 'POPESTIMATE2011': 347, 'POPESTIMATE2012': 347, 'POPESTIMATE2013': 343, 'POPESTIMATE2014': 338, 'POPESTIMATE2015': 339, 'POPESTIMATE2016': 333, 'POPESTIMATE2017': 332, 'POPESTIMATE2018': 331, 'POPESTIMATE2019': 328}, {'index': 5, 'SUMLEV': 162, 'STATE': 1, 'COUNTY': 0, 'PLACE': 820, 'COUSUB': 0, 'CONCIT': 0, 'PRIMGEO_FLAG': 0, 'FUNCSTAT': 'A', 'NAME': 'Alabaster city', 'STNAME': 'Alabama', 'CENSUS2010POP': '30352', 'ESTIMATESBASE2010': 31112, 'POPESTIMATE2010': 31209, 'POPESTIMATE2011': 31375, 'POPESTIMATE2012': 31684, 'POPESTIMATE2013': 31980, 'POPESTIMATE2014': 32182, 'POPESTIMATE2015': 32772, 'POPESTIMATE2016': 33017, 'POPESTIMATE2017': 33275, 'POPESTIMATE2018': 33413, 'POPESTIMATE2019': 33487}, {'index': 6, 'SUMLEV': 162, 'STATE': 1, 'COUNTY': 0, 'PLACE': 988, 'COUSUB': 0, 'CONCIT': 0, 'PRIMGEO_FLAG': 0, 'FUNCSTAT': 'A', 'NAME': 'Albertville city', 'STNAME': 'Alabama', 'CENSUS2010POP': '21160', 'ESTIMATESBASE2010': 21209, 'POPESTIMATE2010': 21196, 'POPESTIMATE2011': 21406, 'POPESTIMATE2012': 21448, 'POPESTIMATE2013': 21435, 'POPESTIMATE2014': 21362, 'POPESTIMATE2015': 21395, 'POPESTIMATE2016': 21454, 'POPESTIMATE2017': 21485, 'POPESTIMATE2018': 21579, 'POPESTIMATE2019': 21711}, {'index': 7, 'SUMLEV': 162, 'STATE': 1, 'COUNTY': 0, 'PLACE': 1132, 'COUSUB': 0, 'CONCIT': 0, 'PRIMGEO_FLAG': 0, 'FUNCSTAT': 'A', 'NAME': 'Alexander City city', 'STNAME': 'Alabama', 'CENSUS2010POP': '14875', 'ESTIMATESBASE2010': 14984, 'POPESTIMATE2010': 14929, 'POPESTIMATE2011': 14897, 'POPESTIMATE2012': 14767, 'POPESTIMATE2013': 14835, 'POPESTIMATE2014': 14781, 'POPESTIMATE2015': 14647, 'POPESTIMATE2016': 14611, 'POPESTIMATE2017': 14550, 'POPESTIMATE2018': 14452, 'POPESTIMATE2019': 14317}  ... displaying 10 of 81434 total bound parameter sets ...  {'index': 81432, 'SUMLEV': 157, 'STATE': 56, 'COUNTY': 45, 'PLACE': 79125, 'COUSUB': 0, 'CONCIT': 0, 'PRIMGEO_FLAG': 1, 'FUNCSTAT': 'A', 'NAME': 'Upton town', 'STNAME': 'Wyoming', 'CENSUS2010POP': '1100', 'ESTIMATESBASE2010': 1100, 'POPESTIMATE2010': 1098, 'POPESTIMATE2011': 1089, 'POPESTIMATE2012': 1081, 'POPESTIMATE2013': 1088, 'POPESTIMATE2014': 1095, 'POPESTIMATE2015': 1104, 'POPESTIMATE2016': 1105, 'POPESTIMATE2017': 1062, 'POPESTIMATE2018': 1057, 'POPESTIMATE2019': 1056}, {'index': 81433, 'SUMLEV': 157, 'STATE': 56, 'COUNTY': 45, 'PLACE': 99990, 'COUSUB': 0, 'CONCIT': 0, 'PRIMGEO_FLAG': 1, 'FUNCSTAT': 'F', 'NAME': 'Balance of Weston County', 'STNAME': 'Wyoming', 'CENSUS2010POP': '2576', 'ESTIMATESBASE2010': 2575, 'POPESTIMATE2010': 2570, 'POPESTIMATE2011': 2547, 'POPESTIMATE2012': 2520, 'POPESTIMATE2013': 2565, 'POPESTIMATE2014': 2559, 'POPESTIMATE2015': 2591, 'POPESTIMATE2016': 2585, 'POPESTIMATE2017': 2497, 'POPESTIMATE2018': 2473, 'POPESTIMATE2019': 2474})
2020-07-20 18:53:28,739 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-20 18:53:28,766 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s

2020-07-20 18:53:28,767 INFO sqlalchemy.engine.base.Engine {'name': 'construction'}
2020-07-20 18:53:28,781 INFO sqlalchemy.engine.base.Engine
CREATE TABLE construction (
	index BIGINT,
	"CSA" BIGINT,
	"CBSA" BIGINT,
	"Name" TEXT,
	"Total" BIGINT,
	unit_1 BIGINT,
	"2 Units" BIGINT,
	unit_34 BIGINT,
	unit_5 BIGINT,
	"unit_for_5orMore" BIGINT
)


2020-07-20 18:53:28,783 INFO sqlalchemy.engine.base.Engine {}
2020-07-20 18:53:28,805 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-20 18:53:28,825 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_construction_index ON construction (index)
2020-07-20 18:53:28,828 INFO sqlalchemy.engine.base.Engine {}
2020-07-20 18:53:28,847 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-20 18:53:28,853 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-07-20 18:53:28,861 INFO sqlalchemy.engine.base.Engine INSERT INTO construction (index, "CSA", "CBSA", "Name", "Total", unit_1, "2 Units", unit_34, unit_5, "unit_for_5orMore") VALUES (%(index)s, %(CSA)s, %(CBSA)s, %(Name)s, %(Total)s, %(unit_1)s, %(2 Units)s, %(unit_34)s, %(unit_5)s, %(unit_for_5orMore)s)
2020-07-20 18:53:28,862 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'CSA': 999, 'CBSA': 10180, 'Name': 'Abilene, TX                                                 ', 'Total': 370, 'unit_1': 354, '2 Units': 16, 'unit_34': 0, 'unit_5': 0, 'unit_for_5orMore': 0}, {'index': 1, 'CSA': 184, 'CBSA': 10420, 'Name': 'Akron, OH                                                   ', 'Total': 945, 'unit_1': 856, '2 Units': 2, 'unit_34': 32, 'unit_5': 55, 'unit_for_5orMore': 1}, {'index': 2, 'CSA': 999, 'CBSA': 10500, 'Name': 'Albany, GA                                                  ', 'Total': 402, 'unit_1': 182, '2 Units': 0, 'unit_34': 0, 'unit_5': 220, 'unit_for_5orMore': 10}, {'index': 3, 'CSA': 440, 'CBSA': 10540, 'Name': 'Albany-Lebanon, OR                                          ', 'Total': 716, 'unit_1': 466, '2 Units': 0, 'unit_34': 0, 'unit_5': 250, 'unit_for_5orMore': 26}, {'index': 4, 'CSA': 104, 'CBSA': 10580, 'Name': 'Albany-Schenectady-Troy, NY                                 ', 'Total': 1870, 'unit_1': 1120, '2 Units': 40, 'unit_34': 45, 'unit_5': 665, 'unit_for_5orMore': 48}, {'index': 5, 'CSA': 106, 'CBSA': 10740, 'Name': 'Albuquerque, NM                                             ', 'Total': 2148, 'unit_1': 1872, '2 Units': 2, 'unit_34': 12, 'unit_5': 262, 'unit_for_5orMore': 14}, {'index': 6, 'CSA': 999, 'CBSA': 10780, 'Name': 'Alexandria, LA                                              ', 'Total': 333, 'unit_1': 303, '2 Units': 30, 'unit_34': 0, 'unit_5': 0, 'unit_for_5orMore': 0}, {'index': 7, 'CSA': 999, 'CBSA': 10900, 'Name': 'Allentown-Bethlehem-Easton, PA-NJ                           ', 'Total': 1345, 'unit_1': 1078, '2 Units': 22, 'unit_34': 6, 'unit_5': 239, 'unit_for_5orMore': 17}  ... displaying 10 of 384 total bound parameter sets ...  {'index': 382, 'CSA': 472, 'CBSA': 49700, 'Name': 'Yuba City, CA                                               ', 'Total': 678, 'unit_1': 654, '2 Units': 0, 'unit_34': 0, 'unit_5': 24, 'unit_for_5orMore': 3}, {'index': 383, 'CSA': 999, 'CBSA': 49740, 'Name': 'Yuma, AZ                                                    ', 'Total': 1206, 'unit_1': 1200, '2 Units': 6, 'unit_34': 0, 'unit_5': 0, 'unit_for_5orMore': 0})
2020-07-20 18:53:29,490 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-20 18:53:29,509 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-07-20 18:53:29,510 INFO sqlalchemy.engine.base.Engine {'name': 'rent_prices'}
2020-07-20 18:53:29,532 INFO sqlalchemy.engine.base.Engine
CREATE TABLE rent_prices (
	index BIGINT,
	"RegionID" BIGINT,
	"RegionName" BIGINT,
	"SizeRank" BIGINT,
	"2014-01" FLOAT(53),
	"2014-02" FLOAT(53),
	"2014-03" FLOAT(53),
	"2014-04" FLOAT(53),
	"2014-05" FLOAT(53),
	"2014-06" FLOAT(53),
	"2014-07" FLOAT(53),
	"2014-08" FLOAT(53),
	"2014-09" FLOAT(53),
	"2014-10" FLOAT(53),
	"2014-11" FLOAT(53),
	"2014-12" FLOAT(53),
	"2015-01" FLOAT(53),
	"2015-02" FLOAT(53),
	"2015-03" FLOAT(53),
	"2015-04" FLOAT(53),
	"2015-05" FLOAT(53),
	"2015-06" FLOAT(53),
	"2015-07" FLOAT(53),
	"2015-08" FLOAT(53),
	"2015-09" FLOAT(53),
	"2015-10" FLOAT(53),
	"2015-11" FLOAT(53),
	"2015-12" FLOAT(53),
	"2016-01" FLOAT(53),
	"2016-02" FLOAT(53),
	"2016-03" FLOAT(53),
	"2016-04" FLOAT(53),
	"2016-05" FLOAT(53),
	"2016-06" FLOAT(53),
	"2016-07" FLOAT(53),
	"2016-08" FLOAT(53),
	"2016-09" FLOAT(53),
	"2016-10" FLOAT(53),
	"2016-11" FLOAT(53),
	"2016-12" FLOAT(53),
	"2017-01" FLOAT(53),
	"2017-02" FLOAT(53),
	"2017-03" FLOAT(53),
	"2017-04" FLOAT(53),
	"2017-05" FLOAT(53),
	"2017-06" FLOAT(53),
	"2017-07" FLOAT(53),
	"2017-08" FLOAT(53),
	"2017-09" FLOAT(53),
	"2017-10" FLOAT(53),
	"2017-11" FLOAT(53),
	"2017-12" FLOAT(53),
	"2018-01" FLOAT(53),
	"2018-02" FLOAT(53),
	"2018-03" FLOAT(53),
	"2018-04" FLOAT(53),
	"2018-05" FLOAT(53),
	"2018-06" FLOAT(53),
	"2018-07" FLOAT(53),
	"2018-08" FLOAT(53),
	"2018-09" FLOAT(53),
	"2018-10" FLOAT(53),
	"2018-11" FLOAT(53),
	"2018-12" FLOAT(53),
	"2019-01" FLOAT(53),
	"2019-02" FLOAT(53),
	"2019-03" FLOAT(53),
	"2019-04" FLOAT(53),
	"2019-05" FLOAT(53),
	"2019-06" FLOAT(53),
	"2019-07" FLOAT(53),
	"2019-08" FLOAT(53),
	"2019-09" FLOAT(53),
	"2019-10" FLOAT(53),
	"2019-11" FLOAT(53),
	"2019-12" FLOAT(53),
	"2020-01" FLOAT(53),
	"2020-02" FLOAT(53),
	"2020-03" FLOAT(53),
	"2020-04" FLOAT(53),
	"2020-05" FLOAT(53),
	"2020-06" FLOAT(53)
)


2020-07-20 18:53:29,534 INFO sqlalchemy.engine.base.Engine {}
2020-07-20 18:53:29,543 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-20 18:53:29,551 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_rent_prices_index ON rent_prices (index)
2020-07-20 18:53:29,552 INFO sqlalchemy.engine.base.Engine {}
2020-07-20 18:53:29,566 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-20 18:53:29,589 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-07-20 18:53:29,887 INFO sqlalchemy.engine.base.Engine INSERT INTO rent_prices (index, "RegionID", "RegionName", "SizeRank", "2014-01", "2014-02", "2014-03", "2014-04", "2014-05", "2014-06", "2014-07", "2014-08", "2014-09", "2014-10", "2014-11", "2014-12", "2015-01", "2015-02", "2015-03", "2015-04", "2015-05", "2015-06", "2015-07", "2015-08", "2015-09", "2015-10", "2015-11", "2015-12", "2016-01", "2016-02", "2016-03", "2016-04", "2016-05", "2016-06", "2016-07", "2016-08", "2016-09", "2016-10", "2016-11", "2016-12", "2017-01", "2017-02", "2017-03", "2017-04", "2017-05", "2017-06", "2017-07", "2017-08", "2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04", "2018-05", "2018-06", "2018-07", "2018-08", "2018-09", "2018-10", "2018-11", "2018-12", "2019-01", "2019-02", "2019-03", "2019-04", "2019-05", "2019-06", "2019-07", "2019-08", "2019-09", "2019-10", "2019-11", "2019-12", "2020-01", "2020-02", "2020-03", "2020-04", "2020-05", "2020-06") VALUES (%(index)s, %(RegionID)s, %(RegionName)s, %(SizeRank)s, %(2014-01)s, %(2014-02)s, %(2014-03)s, %(2014-04)s, %(2014-05)s, %(2014-06)s, %(2014-07)s, %(2014-08)s, %(2014-09)s, %(2014-10)s, %(2014-11)s, %(2014-12)s, %(2015-01)s, %(2015-02)s, %(2015-03)s, %(2015-04)s, %(2015-05)s, %(2015-06)s, %(2015-07)s, %(2015-08)s, %(2015-09)s, %(2015-10)s, %(2015-11)s, %(2015-12)s, %(2016-01)s, %(2016-02)s, %(2016-03)s, %(2016-04)s, %(2016-05)s, %(2016-06)s, %(2016-07)s, %(2016-08)s, %(2016-09)s, %(2016-10)s, %(2016-11)s, %(2016-12)s, %(2017-01)s, %(2017-02)s, %(2017-03)s, %(2017-04)s, %(2017-05)s, %(2017-06)s, %(2017-07)s, %(2017-08)s, %(2017-09)s, %(2017-10)s, %(2017-11)s, %(2017-12)s, %(2018-01)s, %(2018-02)s, %(2018-03)s, %(2018-04)s, %(2018-05)s, %(2018-06)s, %(2018-07)s, %(2018-08)s, %(2018-09)s, %(2018-10)s, %(2018-11)s, %(2018-12)s, %(2019-01)s, %(2019-02)s, %(2019-03)s, %(2019-04)s, %(2019-05)s, %(2019-06)s, %(2019-07)s, %(2019-08)s, %(2019-09)s, %(2019-10)s, %(2019-11)s, %(2019-12)s, %(2020-01)s, %(2020-02)s, %(2020-03)s, %(2020-04)s, %(2020-05)s, %(2020-06)s)

2020-07-20 18:53:38,469 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-20 18:53:38,530 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-07-20 18:53:38,530 INFO sqlalchemy.engine.base.Engine {'name': 'home_prices'}
2020-07-20 18:53:38,571 INFO sqlalchemy.engine.base.Engine
CREATE TABLE home_prices (
	index BIGINT,
	"RegionID" BIGINT,
	"SizeRank" BIGINT,
	"RegionName" BIGINT,
	"RegionType" TEXT,
	"StateName" TEXT,
	"State" TEXT,
	"City" TEXT,
	"Metro" TEXT,
	"CountyName" TEXT,
	"1996-01-31" FLOAT(53),
	"1996-02-29" FLOAT(53),
	"1996-03-31" FLOAT(53),
	"1996-04-30" FLOAT(53),
	"1996-05-31" FLOAT(53),
	"1996-06-30" FLOAT(53),
	"1996-07-31" FLOAT(53),
	"1996-08-31" FLOAT(53),
	"1996-09-30" FLOAT(53),
	"1996-10-31" FLOAT(53),
	"1996-11-30" FLOAT(53),
	"1996-12-31" FLOAT(53),
	"1997-01-31" FLOAT(53),
	"1997-02-28" FLOAT(53),
	"1997-03-31" FLOAT(53),
	"1997-04-30" FLOAT(53),
	"1997-05-31" FLOAT(53),
	"1997-06-30" FLOAT(53),
	"1997-07-31" FLOAT(53),
	"1997-08-31" FLOAT(53),
	"1997-09-30" FLOAT(53),
	"1997-10-31" FLOAT(53),
	"1997-11-30" FLOAT(53),
	"1997-12-31" FLOAT(53),
	"1998-01-31" FLOAT(53),
	"1998-02-28" FLOAT(53),
	"1998-03-31" FLOAT(53),
	"1998-04-30" FLOAT(53),
	"1998-05-31" FLOAT(53),
	"1998-06-30" FLOAT(53),
	"1998-07-31" FLOAT(53),
	"1998-08-31" FLOAT(53),
	"1998-09-30" FLOAT(53),
	"1998-10-31" FLOAT(53),
	"1998-11-30" FLOAT(53),
	"1998-12-31" FLOAT(53),
	"1999-01-31" FLOAT(53),
	"1999-02-28" FLOAT(53),
	"1999-03-31" FLOAT(53),
	"1999-04-30" FLOAT(53),
	"1999-05-31" FLOAT(53),
	"1999-06-30" FLOAT(53),
	"1999-07-31" FLOAT(53),
	"1999-08-31" FLOAT(53),
	"1999-09-30" FLOAT(53),
	"1999-10-31" FLOAT(53),
	"1999-11-30" FLOAT(53),
	"1999-12-31" FLOAT(53),
	"2000-01-31" FLOAT(53),
	"2000-02-29" FLOAT(53),
	"2000-03-31" FLOAT(53),
	"2000-04-30" FLOAT(53),
	"2000-05-31" FLOAT(53),
	"2000-06-30" FLOAT(53),
	"2000-07-31" FLOAT(53),
	"2000-08-31" FLOAT(53),
	"2000-09-30" FLOAT(53),
	"2000-10-31" FLOAT(53),
	"2000-11-30" FLOAT(53),
	"2000-12-31" FLOAT(53),
	"2001-01-31" FLOAT(53),
	"2001-02-28" FLOAT(53),
	"2001-03-31" FLOAT(53),
	"2001-04-30" FLOAT(53),
	"2001-05-31" FLOAT(53),
	"2001-06-30" FLOAT(53),
	"2001-07-31" FLOAT(53),
	"2001-08-31" FLOAT(53),
	"2001-09-30" FLOAT(53),
	"2001-10-31" FLOAT(53),
	"2001-11-30" FLOAT(53),
	"2001-12-31" FLOAT(53),
	"2002-01-31" FLOAT(53),
	"2002-02-28" FLOAT(53),
	"2002-03-31" FLOAT(53),
	"2002-04-30" FLOAT(53),
	"2002-05-31" FLOAT(53),
	"2002-06-30" FLOAT(53),
	"2002-07-31" FLOAT(53),
	"2002-08-31" FLOAT(53),
	"2002-09-30" FLOAT(53),
	"2002-10-31" FLOAT(53),
	"2002-11-30" FLOAT(53),
	"2002-12-31" FLOAT(53),
	"2003-01-31" FLOAT(53),
	"2003-02-28" FLOAT(53),
	"2003-03-31" FLOAT(53),
	"2003-04-30" FLOAT(53),
	"2003-05-31" FLOAT(53),
	"2003-06-30" FLOAT(53),
	"2003-07-31" FLOAT(53),
	"2003-08-31" FLOAT(53),
	"2003-09-30" FLOAT(53),
	"2003-10-31" FLOAT(53),
	"2003-11-30" FLOAT(53),
	"2003-12-31" FLOAT(53),
	"2004-01-31" FLOAT(53),
	"2004-02-29" FLOAT(53),
	"2004-03-31" FLOAT(53),
	"2004-04-30" FLOAT(53),
	"2004-05-31" FLOAT(53),
	"2004-06-30" FLOAT(53),
	"2004-07-31" FLOAT(53),
	"2004-08-31" FLOAT(53),
	"2004-09-30" FLOAT(53),
	"2004-10-31" FLOAT(53),
	"2004-11-30" FLOAT(53),
	"2004-12-31" FLOAT(53),
	"2005-01-31" FLOAT(53),
	"2005-02-28" FLOAT(53),
	"2005-03-31" FLOAT(53),
	"2005-04-30" FLOAT(53),
	"2005-05-31" FLOAT(53),
	"2005-06-30" FLOAT(53),
	"2005-07-31" FLOAT(53),
	"2005-08-31" FLOAT(53),
	"2005-09-30" FLOAT(53),
	"2005-10-31" FLOAT(53),
	"2005-11-30" FLOAT(53),
	"2005-12-31" FLOAT(53),
	"2006-01-31" FLOAT(53),
	"2006-02-28" FLOAT(53),
	"2006-03-31" FLOAT(53),
	"2006-04-30" FLOAT(53),
	"2006-05-31" FLOAT(53),
	"2006-06-30" FLOAT(53),
	"2006-07-31" FLOAT(53),
	"2006-08-31" FLOAT(53),
	"2006-09-30" FLOAT(53),
	"2006-10-31" FLOAT(53),
	"2006-11-30" FLOAT(53),
	"2006-12-31" FLOAT(53),
	"2007-01-31" FLOAT(53),
	"2007-02-28" FLOAT(53),
	"2007-03-31" FLOAT(53),
	"2007-04-30" FLOAT(53),
	"2007-05-31" FLOAT(53),
	"2007-06-30" FLOAT(53),
	"2007-07-31" FLOAT(53),
	"2007-08-31" FLOAT(53),
	"2007-09-30" FLOAT(53),
	"2007-10-31" FLOAT(53),
	"2007-11-30" FLOAT(53),
	"2007-12-31" FLOAT(53),
	"2008-01-31" FLOAT(53),
	"2008-02-29" FLOAT(53),
	"2008-03-31" FLOAT(53),
	"2008-04-30" FLOAT(53),
	"2008-05-31" FLOAT(53),
	"2008-06-30" FLOAT(53),
	"2008-07-31" FLOAT(53),
	"2008-08-31" FLOAT(53),
	"2008-09-30" FLOAT(53),
	"2008-10-31" FLOAT(53),
	"2008-11-30" FLOAT(53),
	"2008-12-31" FLOAT(53),
	"2009-01-31" FLOAT(53),
	"2009-02-28" FLOAT(53),
	"2009-03-31" FLOAT(53),
	"2009-04-30" FLOAT(53),
	"2009-05-31" FLOAT(53),
	"2009-06-30" FLOAT(53),
	"2009-07-31" FLOAT(53),
	"2009-08-31" FLOAT(53),
	"2009-09-30" FLOAT(53),
	"2009-10-31" FLOAT(53),
	"2009-11-30" FLOAT(53),
	"2009-12-31" FLOAT(53),
	"2010-01-31" FLOAT(53),
	"2010-02-28" FLOAT(53),
	"2010-03-31" FLOAT(53),
	"2010-04-30" FLOAT(53),
	"2010-05-31" FLOAT(53),
	"2010-06-30" FLOAT(53),
	"2010-07-31" FLOAT(53),
	"2010-08-31" FLOAT(53),
	"2010-09-30" FLOAT(53),
	"2010-10-31" FLOAT(53),
	"2010-11-30" FLOAT(53),
	"2010-12-31" FLOAT(53),
	"2011-01-31" FLOAT(53),
	"2011-02-28" FLOAT(53),
	"2011-03-31" FLOAT(53),
	"2011-04-30" FLOAT(53),
	"2011-05-31" FLOAT(53),
	"2011-06-30" FLOAT(53),
	"2011-07-31" FLOAT(53),
	"2011-08-31" FLOAT(53),
	"2011-09-30" FLOAT(53),
	"2011-10-31" FLOAT(53),
	"2011-11-30" FLOAT(53),
	"2011-12-31" FLOAT(53),
	"2012-01-31" FLOAT(53),
	"2012-02-29" FLOAT(53),
	"2012-03-31" FLOAT(53),
	"2012-04-30" FLOAT(53),
	"2012-05-31" FLOAT(53),
	"2012-06-30" FLOAT(53),
	"2012-07-31" FLOAT(53),
	"2012-08-31" FLOAT(53),
	"2012-09-30" FLOAT(53),
	"2012-10-31" FLOAT(53),
	"2012-11-30" FLOAT(53),
	"2012-12-31" FLOAT(53),
	"2013-01-31" FLOAT(53),
	"2013-02-28" FLOAT(53),
	"2013-03-31" FLOAT(53),
	"2013-04-30" FLOAT(53),
	"2013-05-31" FLOAT(53),
	"2013-06-30" FLOAT(53),
	"2013-07-31" FLOAT(53),
	"2013-08-31" FLOAT(53),
	"2013-09-30" FLOAT(53),
	"2013-10-31" FLOAT(53),
	"2013-11-30" FLOAT(53),
	"2013-12-31" FLOAT(53),
	"2014-01-31" FLOAT(53),
	"2014-02-28" FLOAT(53),
	"2014-03-31" FLOAT(53),
	"2014-04-30" FLOAT(53),
	"2014-05-31" FLOAT(53),
	"2014-06-30" FLOAT(53),
	"2014-07-31" FLOAT(53),
	"2014-08-31" FLOAT(53),
	"2014-09-30" FLOAT(53),
	"2014-10-31" FLOAT(53),
	"2014-11-30" FLOAT(53),
	"2014-12-31" FLOAT(53),
	"2015-01-31" FLOAT(53),
	"2015-02-28" FLOAT(53),
	"2015-03-31" FLOAT(53),
	"2015-04-30" FLOAT(53),
	"2015-05-31" FLOAT(53),
	"2015-06-30" FLOAT(53),
	"2015-07-31" FLOAT(53),
	"2015-08-31" FLOAT(53),
	"2015-09-30" FLOAT(53),
	"2015-10-31" FLOAT(53),
	"2015-11-30" FLOAT(53),
	"2015-12-31" FLOAT(53),
	"2016-01-31" FLOAT(53),
	"2016-02-29" FLOAT(53),
	"2016-03-31" FLOAT(53),
	"2016-04-30" FLOAT(53),
	"2016-05-31" FLOAT(53),
	"2016-06-30" FLOAT(53),
	"2016-07-31" FLOAT(53),
	"2016-08-31" FLOAT(53),
	"2016-09-30" FLOAT(53),
	"2016-10-31" FLOAT(53),
	"2016-11-30" FLOAT(53),
	"2016-12-31" FLOAT(53),
	"2017-01-31" FLOAT(53),
	"2017-02-28" FLOAT(53),
	"2017-03-31" FLOAT(53),
	"2017-04-30" FLOAT(53),
	"2017-05-31" FLOAT(53),
	"2017-06-30" FLOAT(53),
	"2017-07-31" FLOAT(53),
	"2017-08-31" FLOAT(53),
	"2017-09-30" FLOAT(53),
	"2017-10-31" FLOAT(53),
	"2017-11-30" FLOAT(53),
	"2017-12-31" FLOAT(53),
	"2018-01-31" FLOAT(53),
	"2018-02-28" FLOAT(53),
	"2018-03-31" FLOAT(53),
	"2018-04-30" FLOAT(53),
	"2018-05-31" FLOAT(53),
	"2018-06-30" FLOAT(53),
	"2018-07-31" FLOAT(53),
	"2018-08-31" FLOAT(53),
	"2018-09-30" FLOAT(53),
	"2018-10-31" FLOAT(53),
	"2018-11-30" FLOAT(53),
	"2018-12-31" FLOAT(53),
	"2019-01-31" FLOAT(53),
	"2019-02-28" FLOAT(53),
	"2019-03-31" FLOAT(53),
	"2019-04-30" FLOAT(53),
	"2019-05-31" FLOAT(53),
	"2019-06-30" FLOAT(53),
	"2019-07-31" FLOAT(53),
	"2019-08-31" FLOAT(53),
	"2019-09-30" FLOAT(53),
	"2019-10-31" FLOAT(53),
	"2019-11-30" FLOAT(53),
	"2019-12-31" FLOAT(53),
	"2020-01-31" FLOAT(53),
	"2020-02-29" FLOAT(53),
	"2020-03-31" FLOAT(53),
	"2020-04-30" FLOAT(53),
	"2020-05-31" FLOAT(53),
	"2020-06-30" FLOAT(53)
)

2020-07-20 18:53:38,572 INFO sqlalchemy.engine.base.Engine {}
2020-07-20 18:53:38,585 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-20 18:53:38,593 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_home_prices_index ON home_prices (index)
2020-07-20 18:53:38,594 INFO sqlalchemy.engine.base.Engine {}
2020-07-20 18:53:38,610 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-20 18:53:39,239 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-07-20 18:53:50,230 INFO sqlalchemy.engine.base.Engine INSERT INTO home_prices (index, "RegionID", "SizeRank", "RegionName", "RegionType", "StateName", "State", "City", "Metro", "CountyName", "1996-01-31", "1996-02-29", "1996-03-31", "1996-04-30", "1996-05-31", "1996-06-30", "1996-07-31", "1996-08-31", "1996-09-30", "1996-10-31", "1996-11-30", "1996-12-31", "1997-01-31", "1997-02-28", "1997-03-31", "1997-04-30", "1997-05-31", "1997-06-30", "1997-07-31", "1997-08-31", "1997-09-30", "1997-10-31", "1997-11-30", "1997-12-31", "1998-01-31", "1998-02-28", "1998-03-31", "1998-04-30", "1998-05-31", "1998-06-30", "1998-07-31", "1998-08-31", "1998-09-30", "1998-10-31", "1998-11-30", "1998-12-31", "1999-01-31", "1999-02-28", "1999-03-31", "1999-04-30", "1999-05-31", "1999-06-30", "1999-07-31", "1999-08-31", "1999-09-30", "1999-10-31", "1999-11-30", "1999-12-31", "2000-01-31", "2000-02-29", "2000-03-31", "2000-04-30", "2000-05-31", "2000-06-30", "2000-07-31", "2000-08-31", "2000-09-30", "2000-10-31", "2000-11-30", "2000-12-31", "2001-01-31", "2001-02-28", "2001-03-31", "2001-04-30", "2001-05-31", "2001-06-30", "2001-07-31", "2001-08-31", "2001-09-30", "2001-10-31", "2001-11-30", "2001-12-31", "2002-01-31", "2002-02-28", "2002-03-31", "2002-04-30", "2002-05-31", "2002-06-30", "2002-07-31", "2002-08-31", "2002-09-30", "2002-10-31", "2002-11-30", "2002-12-31", "2003-01-31", "2003-02-28", "2003-03-31", "2003-04-30", "2003-05-31", "2003-06-30", "2003-07-31", "2003-08-31", "2003-09-30", "2003-10-31", "2003-11-30", "2003-12-31", "2004-01-31", "2004-02-29", "2004-03-31", "2004-04-30", "2004-05-31", "2004-06-30", "2004-07-31", "2004-08-31", "2004-09-30", "2004-10-31", "2004-11-30", "2004-12-31", "2005-01-31", "2005-02-28", "2005-03-31", "2005-04-30", "2005-05-31", "2005-06-30", "2005-07-31", "2005-08-31", "2005-09-30", "2005-10-31", "2005-11-30", "2005-12-31", "2006-01-31", "2006-02-28", "2006-03-31", "2006-04-30", "2006-05-31", "2006-06-30", "2006-07-31", "2006-08-31", "2006-09-30", "2006-10-31", "2006-11-30", "2006-12-31", "2007-01-31", "2007-02-28", "2007-03-31", "2007-04-30", "2007-05-31", "2007-06-30", "2007-07-31", "2007-08-31", "2007-09-30", "2007-10-31", "2007-11-30", "2007-12-31", "2008-01-31", "2008-02-29", "2008-03-31", "2008-04-30", "2008-05-31", "2008-06-30", "2008-07-31", "2008-08-31", "2008-09-30", "2008-10-31", "2008-11-30", "2008-12-31", "2009-01-31", "2009-02-28", "2009-03-31", "2009-04-30", "2009-05-31", "2009-06-30", "2009-07-31", "2009-08-31", "2009-09-30", "2009-10-31", "2009-11-30", "2009-12-31", "2010-01-31", "2010-02-28", "2010-03-31", "2010-04-30", "2010-05-31", "2010-06-30", "2010-07-31", "2010-08-31", "2010-09-30", "2010-10-31", "2010-11-30", "2010-12-31", "2011-01-31", "2011-02-28", "2011-03-31", "2011-04-30", "2011-05-31", "2011-06-30", "2011-07-31", "2011-08-31", "2011-09-30", "2011-10-31", "2011-11-30", "2011-12-31", "2012-01-31", "2012-02-29", "2012-03-31", "2012-04-30", "2012-05-31", "2012-06-30", "2012-07-31", "2012-08-31", "2012-09-30", "2012-10-31", "2012-11-30", "2012-12-31", "2013-01-31", "2013-02-28", "2013-03-31", "2013-04-30", "2013-05-31", "2013-06-30", "2013-07-31", "2013-08-31", "2013-09-30", "2013-10-31", "2013-11-30", "2013-12-31", "2014-01-31", "2014-02-28", "2014-03-31", "2014-04-30", "2014-05-31", "2014-06-30", "2014-07-31", "2014-08-31", "2014-09-30", "2014-10-31", "2014-11-30", "2014-12-31", "2015-01-31", "2015-02-28", "2015-03-31", "2015-04-30", "2015-05-31", "2015-06-30", "2015-07-31", "2015-08-31", "2015-09-30", "2015-10-31", "2015-11-30", "2015-12-31", "2016-01-31", "2016-02-29", "2016-03-31", "2016-04-30", "2016-05-31", "2016-06-30", "2016-07-31", "2016-08-31", "2016-09-30", "2016-10-31", "2016-11-30", "2016-12-31", "2017-01-31", "2017-02-28", "2017-03-31", "2017-04-30", "2017-05-31", "2017-06-30", "2017-07-31", "2017-08-31", "2017-09-30", "2017-10-31", "2017-11-30", "2017-12-31", "2018-01-31", "2018-02-28", "2018-03-31", "2018-04-30", "2018-05-31", "2018-06-30", "2018-07-31", "2018-08-31", "2018-09-30", "2018-10-31", "2018-11-30", "2018-12-31", "2019-01-31", "2019-02-28", "2019-03-31", "2019-04-30", "2019-05-31", "2019-06-30", "2019-07-31", "2019-08-31", "2019-09-30", "2019-10-31", "2019-11-30", "2019-12-31", "2020-01-31", "2020-02-29", "2020-03-31", "2020-04-30", "2020-05-31", "2020-06-30") VALUES (%(index)s, %(RegionID)s, %(SizeRank)s, %(RegionName)s, %(RegionType)s, %(StateName)s, %(State)s, %(City)s, %(Metro)s, %(CountyName)s, %(1996-01-31)s, %(1996-02-29)s, %(1996-03-31)s, %(1996-04-30)s, %(1996-05-31)s, %(1996-06-30)s, %(1996-07-31)s, %(1996-08-31)s, %(1996-09-30)s, %(1996-10-31)s, %(1996-11-30)s, %(1996-12-31)s, %(1997-01-31)s, %(1997-02-28)s, %(1997-03-31)s, %(1997-04-30)s, %(1997-05-31)s, %(1997-06-30)s, %(1997-07-31)s, %(1997-08-31)s, %(1997-09-30)s, %(1997-10-31)s, %(1997-11-30)s, %(1997-12-31)s, %(1998-01-31)s, %(1998-02-28)s, %(1998-03-31)s, %(1998-04-30)s, %(1998-05-31)s, %(1998-06-30)s, %(1998-07-31)s, %(1998-08-31)s, %(1998-09-30)s, %(1998-10-31)s, %(1998-11-30)s, %(1998-12-31)s, %(1999-01-31)s, %(1999-02-28)s, %(1999-03-31)s, %(1999-04-30)s, %(1999-05-31)s, %(1999-06-30)s, %(1999-07-31)s, %(1999-08-31)s, %(1999-09-30)s, %(1999-10-31)s, %(1999-11-30)s, %(1999-12-31)s, %(2000-01-31)s, %(2000-02-29)s, %(2000-03-31)s, %(2000-04-30)s, %(2000-05-31)s, %(2000-06-30)s, %(2000-07-31)s, %(2000-08-31)s, %(2000-09-30)s, %(2000-10-31)s, %(2000-11-30)s, %(2000-12-31)s, %(2001-01-31)s, %(2001-02-28)s, %(2001-03-31)s, %(2001-04-30)s, %(2001-05-31)s, %(2001-06-30)s, %(2001-07-31)s, %(2001-08-31)s, %(2001-09-30)s, %(2001-10-31)s, %(2001-11-30)s, %(2001-12-31)s, %(2002-01-31)s, %(2002-02-28)s, %(2002-03-31)s, %(2002-04-30)s, %(2002-05-31)s, %(2002-06-30)s, %(2002-07-31)s, %(2002-08-31)s, %(2002-09-30)s, %(2002-10-31)s, %(2002-11-30)s, %(2002-12-31)s, %(2003-01-31)s, %(2003-02-28)s, %(2003-03-31)s, %(2003-04-30)s, %(2003-05-31)s, %(2003-06-30)s, %(2003-07-31)s, %(2003-08-31)s, %(2003-09-30)s, %(2003-10-31)s, %(2003-11-30)s, %(2003-12-31)s, %(2004-01-31)s, %(2004-02-29)s, %(2004-03-31)s, %(2004-04-30)s, %(2004-05-31)s, %(2004-06-30)s, %(2004-07-31)s, %(2004-08-31)s, %(2004-09-30)s, %(2004-10-31)s, %(2004-11-30)s, %(2004-12-31)s, %(2005-01-31)s, %(2005-02-28)s, %(2005-03-31)s, %(2005-04-30)s, %(2005-05-31)s, %(2005-06-30)s, %(2005-07-31)s, %(2005-08-31)s, %(2005-09-30)s, %(2005-10-31)s, %(2005-11-30)s, %(2005-12-31)s, %(2006-01-31)s, %(2006-02-28)s, %(2006-03-31)s, %(2006-04-30)s, %(2006-05-31)s, %(2006-06-30)s, %(2006-07-31)s, %(2006-08-31)s, %(2006-09-30)s, %(2006-10-31)s, %(2006-11-30)s, %(2006-12-31)s, %(2007-01-31)s, %(2007-02-28)s, %(2007-03-31)s, %(2007-04-30)s, %(2007-05-31)s, %(2007-06-30)s, %(2007-07-31)s, %(2007-08-31)s, %(2007-09-30)s, %(2007-10-31)s, %(2007-11-30)s, %(2007-12-31)s, %(2008-01-31)s, %(2008-02-29)s, %(2008-03-31)s, %(2008-04-30)s, %(2008-05-31)s, %(2008-06-30)s, %(2008-07-31)s, %(2008-08-31)s, %(2008-09-30)s, %(2008-10-31)s, %(2008-11-30)s, %(2008-12-31)s, %(2009-01-31)s, %(2009-02-28)s, %(2009-03-31)s, %(2009-04-30)s, %(2009-05-31)s, %(2009-06-30)s, %(2009-07-31)s, %(2009-08-31)s, %(2009-09-30)s, %(2009-10-31)s, %(2009-11-30)s, %(2009-12-31)s, %(2010-01-31)s, %(2010-02-28)s, %(2010-03-31)s, %(2010-04-30)s, %(2010-05-31)s, %(2010-06-30)s, %(2010-07-31)s, %(2010-08-31)s, %(2010-09-30)s, %(2010-10-31)s, %(2010-11-30)s, %(2010-12-31)s, %(2011-01-31)s, %(2011-02-28)s, %(2011-03-31)s, %(2011-04-30)s, %(2011-05-31)s, %(2011-06-30)s, %(2011-07-31)s, %(2011-08-31)s, %(2011-09-30)s, %(2011-10-31)s, %(2011-11-30)s, %(2011-12-31)s, %(2012-01-31)s, %(2012-02-29)s, %(2012-03-31)s, %(2012-04-30)s, %(2012-05-31)s, %(2012-06-30)s, %(2012-07-31)s, %(2012-08-31)s, %(2012-09-30)s, %(2012-10-31)s, %(2012-11-30)s, %(2012-12-31)s, %(2013-01-31)s, %(2013-02-28)s, %(2013-03-31)s, %(2013-04-30)s, %(2013-05-31)s, %(2013-06-30)s, %(2013-07-31)s, %(2013-08-31)s, %(2013-09-30)s, %(2013-10-31)s, %(2013-11-30)s, %(2013-12-31)s, %(2014-01-31)s, %(2014-02-28)s, %(2014-03-31)s, %(2014-04-30)s, %(2014-05-31)s, %(2014-06-30)s, %(2014-07-31)s, %(2014-08-31)s, %(2014-09-30)s, %(2014-10-31)s, %(2014-11-30)s, %(2014-12-31)s, %(2015-01-31)s, %(2015-02-28)s, %(2015-03-31)s, %(2015-04-30)s, %(2015-05-31)s, %(2015-06-30)s, %(2015-07-31)s, %(2015-08-31)s, %(2015-09-30)s, %(2015-10-31)s, %(2015-11-30)s, %(2015-12-31)s, %(2016-01-31)s, %(2016-02-29)s, %(2016-03-31)s, %(2016-04-30)s, %(2016-05-31)s, %(2016-06-30)s, %(2016-07-31)s, %(2016-08-31)s, %(2016-09-30)s, %(2016-10-31)s, %(2016-11-30)s, %(2016-12-31)s, %(2017-01-31)s, %(2017-02-28)s, %(2017-03-31)s, %(2017-04-30)s, %(2017-05-31)s, %(2017-06-30)s, %(2017-07-31)s, %(2017-08-31)s, %(2017-09-30)s, %(2017-10-31)s, %(2017-11-30)s, %(2017-12-31)s, %(2018-01-31)s, %(2018-02-28)s, %(2018-03-31)s, %(2018-04-30)s, %(2018-05-31)s, %(2018-06-30)s, %(2018-07-31)s, %(2018-08-31)s, %(2018-09-30)s, %(2018-10-31)s, %(2018-11-30)s, %(2018-12-31)s, %(2019-01-31)s, %(2019-02-28)s, %(2019-03-31)s, %(2019-04-30)s, %(2019-05-31)s, %(2019-06-30)s, %(2019-07-31)s, %(2019-08-31)s, %(2019-09-30)s, %(2019-10-31)s, %(2019-11-30)s, %(2019-12-31)s, %(2020-01-31)s, %(2020-02-29)s, %(2020-03-31)s, %(2020-04-30)s, %(2020-05-31)s, %(2020-06-30)s)

2020-07-20 18:53:50,231 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'RegionID': 61639, 'SizeRank': 0, 'RegionName': 10025, 'RegionType': 'Zip', 'StateName': 'NY', 'State': 'NY', 'City': 'New York', 'Metro': 'New York-Newark-Jersey City', 'CountyName': 'New York County', '1996-01-31': None, '1996-02-29': None, '1996-03-31': None, '1996-04-30': None, '1996-05-31': None, '1996-06-30': None, '1996-07-31': None, '1996-08-31': None, '1996-09-30': None, '1996-10-31': None, '1996-11-30': None, '1996-12-31': None, '1997-01-31': None, '1997-02-28': None, '1997-03-31': None, '1997-04-30': None, '1997-05-31': None, '1997-06-30': None, '1997-07-31': None, '1997-08-31': None, '1997-09-30': None, '1997-10-31': None, '1997-11-30': None, '1997-12-31': None, '1998-01-31': None, '1998-02-28': None, '1998-03-31': None, '1998-04-30': None, '1998-05-31': None, '1998-06-30': None, '1998-07-31': None, '1998-08-31': None, '1998-09-30': None, '1998-10-31': None, '1998-11-30': None, '1998-12-31': None, '1999-01-31': None, '1999-02-28': None, '1999-03-31': None, '1999-04-30': None, '1999-05-31': None, '1999-06-30': None, '1999-07-31': None, '1999-08-31': None, '1999-09-30': None, '1999-10-31': None, '1999-11-30': None, '1999-12-31': None, '2000-01-31': None, '2000-02-29': None, '2000-03-31': None, '2000-04-30': None, '2000-05-31': None, '2000-06-30': None, '2000-07-31': None, '2000-08-31': None, '2000-09-30': None, '2000-10-31': None, '2000-11-30': None, '2000-12-31': None, '2001-01-31': None, '2001-02-28': None, '2001-03-31': None, '2001-04-30': None, '2001-05-31': None, '2001-06-30': None, '2001-07-31': None, '2001-08-31': None, '2001-09-30': None, '2001-10-31': None, '2001-11-30': None, '2001-12-31': None, '2002-01-31': None, '2002-02-28': None, '2002-03-31': None, '2002-04-30': None, '2002-05-31': None, '2002-06-30': None, '2002-07-31': None, '2002-08-31': None, '2002-09-30': None, '2002-10-31': None, '2002-11-30': None, '2002-12-31': None, '2003-01-31': None, '2003-02-28': None, '2003-03-31': None, '2003-04-30': None, '2003-05-31': None, '2003-06-30': None, '2003-07-31': None, '2003-08-31': None, '2003-09-30': 1515058.0, '2003-10-31': 1523622.0, '2003-11-30': 1522619.0, '2003-12-31': 1528775.0, '2004-01-31': 1531434.0, '2004-02-29': 1538391.0, '2004-03-31': 1551657.0, '2004-04-30': 1577394.0, '2004-05-31': 1605524.0, '2004-06-30': 1630433.0, '2004-07-31': 1649272.0, '2004-08-31': 1679407.0, '2004-09-30': 1713219.0, '2004-10-31': 1733467.0, '2004-11-30': 1744882.0, '2004-12-31': 1746882.0, '2005-01-31': 1754724.0, '2005-02-28': 1763641.0, '2005-03-31': 1763663.0, '2005-04-30': 1754699.0, '2005-05-31': 1739818.0, '2005-06-30': 1730237.0, '2005-07-31': 1730823.0, '2005-08-31': 1731232.0, '2005-09-30': 1741327.0, '2005-10-31': 1765483.0, '2005-11-30': 1810195.0, '2005-12-31': 1847202.0, '2006-01-31': 1893440.0, '2006-02-28': 1920191.0, '2006-03-31': 1948382.0, '2006-04-30': 1948907.0, '2006-05-31': 1955193.0, '2006-06-30': 1965146.0, '2006-07-31': 1966265.0, '2006-08-31': 1938444.0, '2006-09-30': 1881666.0, '2006-10-31': 1828701.0, '2006-11-30': 1799772.0, '2006-12-31': 1810837.0, '2007-01-31': 1795346.0, '2007-02-28': 1791514.0, '2007-03-31': 1776285.0, '2007-04-30': 1781260.0, '2007-05-31': 1779931.0, '2007-06-30': 1768807.0, '2007-07-31': 1783531.0, '2007-08-31': 1801647.0, '2007-09-30': 1826657.0, '2007-10-31': 1838485.0, '2007-11-30': 1822559.0, '2007-12-31': 1789477.0, '2008-01-31': 1770317.0, '2008-02-29': 1752673.0, '2008-03-31': 1731783.0, '2008-04-30': 1717412.0, '2008-05-31': 1701525.0, '2008-06-30': 1702919.0, '2008-07-31': 1672686.0, '2008-08-31': 1662021.0, '2008-09-30': 1661661.0, '2008-10-31': 1661241.0, '2008-11-30': 1653657.0, '2008-12-31': 1628541.0, '2009-01-31': 1606803.0, '2009-02-28': 1579074.0, '2009-03-31': 1570353.0, '2009-04-30': 1546969.0, '2009-05-31': 1517518.0, '2009-06-30': 1462135.0, '2009-07-31': 1420480.0, '2009-08-31': 1380560.0, '2009-09-30': 1340075.0, '2009-10-31': 1307608.0, '2009-11-30': 1298197.0, '2009-12-31': 1309088.0, '2010-01-31': 1325500.0, '2010-02-28': 1343844.0, '2010-03-31': 1357051.0, '2010-04-30': 1377637.0, '2010-05-31': 1400028.0, '2010-06-30': 1427567.0, '2010-07-31': 1462348.0, '2010-08-31': 1490034.0, '2010-09-30': 1525744.0, '2010-10-31': 1545927.0, '2010-11-30': 1545536.0, '2010-12-31': 1529240.0, '2011-01-31': 1502230.0, '2011-02-28': 1479955.0, '2011-03-31': 1464339.0, '2011-04-30': 1452125.0, '2011-05-31': 1449918.0, '2011-06-30': 1453514.0, '2011-07-31': 1445991.0, '2011-08-31': 1441108.0, '2011-09-30': 1428173.0, '2011-10-31': 1426499.0, '2011-11-30': 1428169.0, '2011-12-31': 1425737.0, '2012-01-31': 1430242.0, '2012-02-29': 1436419.0, '2012-03-31': 1432413.0, '2012-04-30': 1421702.0, '2012-05-31': 1410929.0, '2012-06-30': 1400385.0, '2012-07-31': 1391676.0, '2012-08-31': 1369971.0, '2012-09-30': 1353870.0, '2012-10-31': 1348249.0, '2012-11-30': 1338034.0, '2012-12-31': 1339828.0, '2013-01-31': 1333731.0, '2013-02-28': 1331382.0, '2013-03-31': 1328533.0, '2013-04-30': 1322509.0, '2013-05-31': 1316075.0, '2013-06-30': 1314641.0, '2013-07-31': 1326251.0, '2013-08-31': 1345317.0, '2013-09-30': 1352723.0, '2013-10-31': 1342916.0, '2013-11-30': 1347774.0, '2013-12-31': 1349568.0, '2014-01-31': 1356019.0, '2014-02-28': 1353743.0, '2014-03-31': 1358218.0, '2014-04-30': 1373478.0, '2014-05-31': 1383401.0, '2014-06-30': 1387801.0, '2014-07-31': 1373324.0, '2014-08-31': 1364389.0, '2014-09-30': 1364060.0, '2014-10-31': 1373939.0, '2014-11-30': 1366655.0, '2014-12-31': 1361240.0, '2015-01-31': 1357627.0, '2015-02-28': 1365127.0, '2015-03-31': 1362393.0, '2015-04-30': 1358278.0, '2015-05-31': 1351860.0, '2015-06-30': 1357710.0, '2015-07-31': 1364233.0, '2015-08-31': 1377263.0, '2015-09-30': 1381929.0, '2015-10-31': 1389997.0, '2015-11-30': 1407389.0, '2015-12-31': 1424816.0, '2016-01-31': 1443220.0, '2016-02-29': 1452253.0, '2016-03-31': 1466936.0, '2016-04-30': 1478190.0, '2016-05-31': 1490826.0, '2016-06-30': 1495235.0, '2016-07-31': 1501724.0, '2016-08-31': 1503445.0, '2016-09-30': 1507670.0, '2016-10-31': 1514387.0, '2016-11-30': 1517787.0, '2016-12-31': 1525401.0, '2017-01-31': 1526107.0, '2017-02-28': 1526161.0, '2017-03-31': 1528565.0, '2017-04-30': 1528783.0, '2017-05-31': 1532013.0, '2017-06-30': 1528340.0, '2017-07-31': 1535262.0, '2017-08-31': 1537467.0, '2017-09-30': 1548305.0, '2017-10-31': 1539673.0, '2017-11-30': 1531246.0, '2017-12-31': 1511876.0, '2018-01-31': 1501002.0, '2018-02-28': 1496032.0, '2018-03-31': 1487739.0, '2018-04-30': 1479655.0, '2018-05-31': 1470063.0, '2018-06-30': 1463490.0, '2018-07-31': 1459408.0, '2018-08-31': 1453692.0, '2018-09-30': 1452616.0, '2018-10-31': 1457732.0, '2018-11-30': 1458667.0, '2018-12-31': 1457951.0, '2019-01-31': 1442745.0, '2019-02-28': 1427877.0, '2019-03-31': 1414763.0, '2019-04-30': 1411065.0, '2019-05-31': 1409411.0, '2019-06-30': 1412290.0, '2019-07-31': 1408443.0, '2019-08-31': 1409344.0, '2019-09-30': 1397980.0, '2019-10-31': 1389522.0, '2019-11-30': 1383244.0, '2019-12-31': 1380903.0, '2020-01-31': 1385338.0, '2020-02-29': 1386299.0, '2020-03-31': 1385537.0, '2020-04-30': 1377219.0, '2020-05-31': 1366529.0, '2020-06-30': 1351955.0}, {'index': 1, 'RegionID': 84654, 'SizeRank': 1, 'RegionName': 60657, 'RegionType': 'Zip', 'StateName': 'IL', 'State': 'IL', 'City': 'Chicago', 'Metro': 'Chicago-Naperville-Elgin', 'CountyName': 'Cook County', '1996-01-31': 362440.0, '1996-02-29': 361714.0, '1996-03-31': 361161.0, '1996-04-30': 360524.0, '1996-05-31': 359230.0, '1996-06-30': 358914.0, '1996-07-31': 358239.0, '1996-08-31': 359372.0, '1996-09-30': 361117.0, '1996-10-31': 364129.0, '1996-11-30': 367590.0, '1996-12-31': 370336.0, '1997-01-31': 374274.0, '1997-02-28': 377567.0, '1997-03-31': 381500.0, '1997-04-30': 383071.0, '1997-05-31': 386448.0, '1997-06-30': 386742.0, '1997-07-31': 387560.0, '1997-08-31': 385479.0, '1997-09-30': 383137.0, '1997-10-31': 379123.0, '1997-11-30': 375309.0, '1997-12-31': 373963.0, '1998-01-31': 372395.0, '1998-02-28': 372573.0, '1998-03-31': 372492.0, '1998-04-30': 375526.0, '1998-05-31': 378230.0, '1998-06-30': 384007.0, '1998-07-31': 390161.0, '1998-08-31': 397602.0, '1998-09-30': 405315.0, '1998-10-31': 414026.0, '1998-11-30': 422230.0, '1998-12-31': 429215.0, '1999-01-31': 434025.0, '1999-02-28': 438186.0, '1999-03-31': 441495.0, '1999-04-30': 444744.0, '1999-05-31': 447855.0, '1999-06-30': 452436.0, '1999-07-31': 458295.0, '1999-08-31': 464203.0, '1999-09-30': 469408.0, '1999-10-31': 474062.0, '1999-11-30': 479483.0, '1999-12-31': 484332.0, '2000-01-31': 491395.0, '2000-02-29': 498303.0, '2000-03-31': 506325.0, '2000-04-30': 512568.0, '2000-05-31': 519370.0, '2000-06-30': 524883.0, '2000-07-31': 530662.0, '2000-08-31': 536632.0, '2000-09-30': 541720.0, '2000-10-31': 546834.0, '2000-11-30': 551743.0, '2000-12-31': 558341.0, '2001-01-31': 564352.0, '2001-02-28': 569631.0, '2001-03-31': 574396.0, '2001-04-30': 580374.0, '2001-05-31': 586741.0, '2001-06-30': 592696.0, '2001-07-31': 595844.0, '2001-08-31': 598486.0, '2001-09-30': 601835.0, '2001-10-31': 606447.0, '2001-11-30': 611253.0, '2001-12-31': 614652.0, '2002-01-31': 617200.0, '2002-02-28': 619758.0, '2002-03-31': 623321.0, '2002-04-30': 625794.0, '2002-05-31': 627970.0, '2002-06-30': 629591.0, '2002-07-31': 633074.0, '2002-08-31': 637358.0, '2002-09-30': 642522.0, '2002-10-31': 646870.0, '2002-11-30': 649721.0, '2002-12-31': 652936.0, '2003-01-31': 657209.0, '2003-02-28': 662775.0, '2003-03-31': 667216.0, '2003-04-30': 671074.0, '2003-05-31': 673418.0, '2003-06-30': 674953.0, '2003-07-31': 677265.0, '2003-08-31': 678923.0, '2003-09-30': 680847.0, '2003-10-31': 682693.0, '2003-11-30': 685710.0, '2003-12-31': 688796.0, '2004-01-31': 692179.0, '2004-02-29': 694983.0, '2004-03-31': 697825.0, '2004-04-30': 701656.0, '2004-05-31': 705830.0, '2004-06-30': 711573.0, '2004-07-31': 715148.0, '2004-08-31': 720692.0, '2004-09-30': 724388.0, '2004-10-31': 729269.0, '2004-11-30': 733448.0, '2004-12-31': 737404.0, '2005-01-31': 740167.0, '2005-02-28': 742267.0, '2005-03-31': 744869.0, '2005-04-30': 748269.0, '2005-05-31': 753162.0, '2005-06-30': 758467.0, '2005-07-31': 765154.0, '2005-08-31': 769248.0, '2005-09-30': 775742.0, '2005-10-31': 780605.0, '2005-11-30': 786370.0, '2005-12-31': 791680.0, '2006-01-31': 796530.0, '2006-02-28': 803074.0, '2006-03-31': 808220.0, '2006-04-30': 812325.0, '2006-05-31': 813710.0, '2006-06-30': 814479.0, '2006-07-31': 815063.0, '2006-08-31': 817306.0, '2006-09-30': 818188.0, '2006-10-31': 820064.0, '2006-11-30': 821631.0, '2006-12-31': 825059.0, '2007-01-31': 829379.0, '2007-02-28': 833989.0, '2007-03-31': 833275.0, '2007-04-30': 827080.0, '2007-05-31': 816930.0, '2007-06-30': 811987.0, '2007-07-31': 808241.0, '2007-08-31': 808926.0, '2007-09-30': 806485.0, '2007-10-31': 808277.0, '2007-11-30': 808120.0, '2007-12-31': 807768.0, '2008-01-31': 810403.0, '2008-02-29': 804179.0, '2008-03-31': 810295.0, '2008-04-30': 817486.0, '2008-05-31': 839922.0, '2008-06-30': 845629.0, '2008-07-31': 851048.0, '2008-08-31': 842850.0, '2008-09-30': 846432.0, '2008-10-31': 837942.0, '2008-11-30': 835345.0, '2008-12-31': 822573.0, '2009-01-31': 809845.0, '2009-02-28': 802194.0, '2009-03-31': 793085.0, '2009-04-30': 787574.0, '2009-05-31': 774559.0, '2009-06-30': 769617.0, '2009-07-31': 768665.0, '2009-08-31': 772968.0, '2009-09-30': 768536.0, '2009-10-31': 768897.0, '2009-11-30': 764941.0, '2009-12-31': 773344.0, '2010-01-31': 772693.0, '2010-02-28': 778722.0, '2010-03-31': 771171.0, '2010-04-30': 772886.0, '2010-05-31': 764400.0, '2010-06-30': 765760.0, '2010-07-31': 751945.0, '2010-08-31': 745274.0, '2010-09-30': 736108.0, '2010-10-31': 735140.0, '2010-11-30': 729602.0, '2010-12-31': 724763.0, '2011-01-31': 722699.0, '2011-02-28': 721313.0, '2011-03-31': 722153.0, '2011-04-30': 715690.0, '2011-05-31': 716849.0, '2011-06-30': 711793.0, '2011-07-31': 719406.0, '2011-08-31': 718239.0, '2011-09-30': 722944.0, '2011-10-31': 713216.0, '2011-11-30': 714911.0, '2011-12-31': 708231.0, '2012-01-31': 709497.0, '2012-02-29': 700217.0, '2012-03-31': 705182.0, '2012-04-30': 707628.0, '2012-05-31': 713263.0, '2012-06-30': 713729.0, '2012-07-31': 712859.0, '2012-08-31': 718277.0, '2012-09-30': 721396.0, '2012-10-31': 733011.0, '2012-11-30': 740057.0, '2012-12-31': 748999.0, '2013-01-31': 756862.0, '2013-02-28': 766936.0, '2013-03-31': 771671.0, '2013-04-30': 778959.0, '2013-05-31': 783831.0, '2013-06-30': 796028.0, '2013-07-31': 806795.0, '2013-08-31': 817679.0, '2013-09-30': 824249.0, '2013-10-31': 833094.0, '2013-11-30': 836539.0, '2013-12-31': 843214.0, '2014-01-31': 844110.0, '2014-02-28': 850495.0, '2014-03-31': 851966.0, '2014-04-30': 851739.0, '2014-05-31': 853080.0, '2014-06-30': 856615.0, '2014-07-31': 858647.0, '2014-08-31': 856208.0, '2014-09-30': 859288.0, '2014-10-31': 862296.0, '2014-11-30': 868051.0, '2014-12-31': 872810.0, '2015-01-31': 878012.0, '2015-02-28': 881903.0, '2015-03-31': 887534.0, '2015-04-30': 897791.0, '2015-05-31': 906836.0, '2015-06-30': 908859.0, '2015-07-31': 910449.0, '2015-08-31': 913973.0, '2015-09-30': 917378.0, '2015-10-31': 917337.0, '2015-11-30': 916857.0, '2015-12-31': 919413.0, '2016-01-31': 923926.0, '2016-02-29': 931421.0, '2016-03-31': 934377.0, '2016-04-30': 933631.0, '2016-05-31': 931511.0, '2016-06-30': 933136.0, '2016-07-31': 938615.0, '2016-08-31': 942023.0, '2016-09-30': 942449.0, '2016-10-31': 945196.0, '2016-11-30': 950952.0, '2016-12-31': 951600.0, '2017-01-31': 949918.0, '2017-02-28': 944916.0, '2017-03-31': 948578.0, '2017-04-30': 951425.0, '2017-05-31': 953370.0, '2017-06-30': 952458.0, '2017-07-31': 950828.0, '2017-08-31': 952362.0, '2017-09-30': 955128.0, '2017-10-31': 954800.0, '2017-11-30': 951856.0, '2017-12-31': 952186.0, '2018-01-31': 957625.0, '2018-02-28': 962903.0, '2018-03-31': 961953.0, '2018-04-30': 961589.0, '2018-05-31': 962566.0, '2018-06-30': 966273.0, '2018-07-31': 966707.0, '2018-08-31': 966503.0, '2018-09-30': 966801.0, '2018-10-31': 969217.0, '2018-11-30': 972674.0, '2018-12-31': 975231.0, '2019-01-31': 973282.0, '2019-02-28': 970077.0, '2019-03-31': 968228.0, '2019-04-30': 967829.0, '2019-05-31': 967991.0, '2019-06-30': 967588.0, '2019-07-31': 969195.0, '2019-08-31': 970063.0, '2019-09-30': 969701.0, '2019-10-31': 968746.0, '2019-11-30': 967546.0, '2019-12-31': 966119.0, '2020-01-31': 965833.0, '2020-02-29': 966867.0, '2020-03-31': 968066.0, '2020-04-30': 967947.0, '2020-05-31': 966726.0, '2020-06-30': 964844.0}, {'index': 2, 'RegionID': 61637, 'SizeRank': 2, 'RegionName': 10023, 'RegionType': 'Zip', 'StateName': 'NY', 'State': 'NY', 'City': 'New York', 'Metro': 'New York-Newark-Jersey City', 'CountyName': 'New York County', '1996-01-31': None, '1996-02-29': None, '1996-03-31': None, '1996-04-30': None, '1996-05-31': None, '1996-06-30': None, '1996-07-31': None, '1996-08-31': None, '1996-09-30': None, '1996-10-31': None, '1996-11-30': None, '1996-12-31': None, '1997-01-31': None, '1997-02-28': None, '1997-03-31': None, '1997-04-30': None, '1997-05-31': None, '1997-06-30': None, '1997-07-31': None, '1997-08-31': None, '1997-09-30': None, '1997-10-31': None, '1997-11-30': None, '1997-12-31': None, '1998-01-31': None, '1998-02-28': None, '1998-03-31': None, '1998-04-30': None, '1998-05-31': None, '1998-06-30': None, '1998-07-31': None, '1998-08-31': None, '1998-09-30': None, '1998-10-31': None, '1998-11-30': None, '1998-12-31': None, '1999-01-31': None, '1999-02-28': None, '1999-03-31': None, '1999-04-30': None, '1999-05-31': None, '1999-06-30': None, '1999-07-31': None, '1999-08-31': None, '1999-09-30': None, '1999-10-31': None, '1999-11-30': None, '1999-12-31': None, '2000-01-31': None, '2000-02-29': None, '2000-03-31': None, '2000-04-30': None, '2000-05-31': None, '2000-06-30': None, '2000-07-31': None, '2000-08-31': None, '2000-09-30': None, '2000-10-31': None, '2000-11-30': None, '2000-12-31': None, '2001-01-31': None, '2001-02-28': None, '2001-03-31': None, '2001-04-30': None, '2001-05-31': None, '2001-06-30': None, '2001-07-31': None, '2001-08-31': None, '2001-09-30': None, '2001-10-31': None, '2001-11-30': None, '2001-12-31': None, '2002-01-31': None, '2002-02-28': None, '2002-03-31': None, '2002-04-30': None, '2002-05-31': None, '2002-06-30': None, '2002-07-31': None, '2002-08-31': None, '2002-09-30': None, '2002-10-31': None, '2002-11-30': None, '2002-12-31': None, '2003-01-31': None, '2003-02-28': None, '2003-03-31': None, '2003-04-30': None, '2003-05-31': None, '2003-06-30': None, '2003-07-31': None, '2003-08-31': None, '2003-09-30': None, '2003-10-31': None, '2003-11-30': None, '2003-12-31': None, '2004-01-31': None, '2004-02-29': None, '2004-03-31': None, '2004-04-30': None, '2004-05-31': None, '2004-06-30': None, '2004-07-31': None, '2004-08-31': None, '2004-09-30': None, '2004-10-31': None, '2004-11-30': None, '2004-12-31': None, '2005-01-31': None, '2005-02-28': None, '2005-03-31': None, '2005-04-30': None, '2005-05-31': None, '2005-06-30': None, '2005-07-31': None, '2005-08-31': None, '2005-09-30': None, '2005-10-31': None, '2005-11-30': None, '2005-12-31': None, '2006-01-31': None, '2006-02-28': None, '2006-03-31': None, '2006-04-30': None, '2006-05-31': None, '2006-06-30': None, '2006-07-31': None, '2006-08-31': None, '2006-09-30': None, '2006-10-31': None, '2006-11-30': None, '2006-12-31': None, '2007-01-31': None, '2007-02-28': None, '2007-03-31': None, '2007-04-30': None, '2007-05-31': None, '2007-06-30': None, '2007-07-31': None, '2007-08-31': None, '2007-09-30': None, '2007-10-31': None, '2007-11-30': None, '2007-12-31': None, '2008-01-31': None, '2008-02-29': None, '2008-03-31': None, '2008-04-30': None, '2008-05-31': None, '2008-06-30': None, '2008-07-31': None, '2008-08-31': None, '2008-09-30': None, '2008-10-31': None, '2008-11-30': None, '2008-12-31': None, '2009-01-31': None, '2009-02-28': None, '2009-03-31': None, '2009-04-30': None, '2009-05-31': None, '2009-06-30': 1332424.0, '2009-07-31': 1312001.0, '2009-08-31': 1291984.0, '2009-09-30': 1254794.0, '2009-10-31': 1223429.0, '2009-11-30': 1203773.0, '2009-12-31': 1197334.0, '2010-01-31': 1196273.0, '2010-02-28': 1204503.0, '2010-03-31': 1213173.0, '2010-04-30': 1227161.0, '2010-05-31': 1240084.0, '2010-06-30': 1253712.0, '2010-07-31': 1276407.0, '2010-08-31': 1295789.0, '2010-09-30': 1324181.0, '2010-10-31': 1347545.0, '2010-11-30': 1364639.0, '2010-12-31': 1359450.0, '2011-01-31': 1363811.0, '2011-02-28': 1365805.0, '2011-03-31': 1376339.0, '2011-04-30': 1368288.0, '2011-05-31': 1357051.0, '2011-06-30': 1352792.0, '2011-07-31': 1345348.0, '2011-08-31': 1359605.0, '2011-09-30': 1363804.0, '2011-10-31': 1378441.0, '2011-11-30': 1385430.0, '2011-12-31': 1407126.0, '2012-01-31': 1403508.0, '2012-02-29': 1387621.0, '2012-03-31': 1357532.0, '2012-04-30': 1355529.0, '2012-05-31': 1372382.0, '2012-06-30': 1382174.0, '2012-07-31': 1381384.0, '2012-08-31': 1366426.0, '2012-09-30': 1358129.0, '2012-10-31': 1344821.0, '2012-11-30': 1333917.0, '2012-12-31': 1321974.0, '2013-01-31': 1321517.0, '2013-02-28': 1324876.0, '2013-03-31': 1347110.0, '2013-04-30': 1368124.0, '2013-05-31': 1382142.0, '2013-06-30': 1395239.0, '2013-07-31': 1408906.0, '2013-08-31': 1426115.0, '2013-09-30': 1424582.0, '2013-10-31': 1432960.0, '2013-11-30': 1452847.0, '2013-12-31': 1483721.0, '2014-01-31': 1502663.0, '2014-02-28': 1518050.0, '2014-03-31': 1527832.0, '2014-04-30': 1531914.0, '2014-05-31': 1536388.0, '2014-06-30': 1536817.0, '2014-07-31': 1549107.0, '2014-08-31': 1561447.0, '2014-09-30': 1589432.0, '2014-10-31': 1613866.0, '2014-11-30': 1613814.0, '2014-12-31': 1598779.0, '2015-01-31': 1587218.0, '2015-02-28': 1596653.0, '2015-03-31': 1600243.0, '2015-04-30': 1601949.0, '2015-05-31': 1600991.0, '2015-06-30': 1614246.0, '2015-07-31': 1621348.0, '2015-08-31': 1623306.0, '2015-09-30': 1625790.0, '2015-10-31': 1625378.0, '2015-11-30': 1639089.0, '2015-12-31': 1663116.0, '2016-01-31': 1702061.0, '2016-02-29': 1734284.0, '2016-03-31': 1758291.0, '2016-04-30': 1774489.0, '2016-05-31': 1782386.0, '2016-06-30': 1782052.0, '2016-0

2020-07-20 18:56:07,484 INFO sqlalchemy.engine.base.Engine COMMIT

In [75]:
# now we can connect to the database specifically
sqlGetTableList = '''SELECT * FROM population;'''

try:
    with pg2.connect(database="realty-db", user="postgres", password='password', host="localhost", port="5435") as conn:
        with conn.cursor() as curs:
            curs.execute(sqlGetTableList)
            #tables = curs.fetchall()
finally:
    conn.close()

In [76]:
tables

[(0,
  40,
  1,
  0,
  0,
  0,
  0,
  0,
  'A',
  'Alabama',
  'Alabama',
  '4779736',
  4780125,
  4785437,
  4799069,
  4815588,
  4830081,
  4841799,
  4852347,
  4863525,
  4874486,
  4887681,
  4903185),
 (1,
  162,
  1,
  0,
  124,
  0,
  0,
  0,
  'A',
  'Abbeville city',
  'Alabama',
  '2688',
  2705,
  2699,
  2694,
  2643,
  2628,
  2608,
  2600,
  2584,
  2575,
  2571,
  2560),
 (2,
  162,
  1,
  0,
  460,
  0,
  0,
  0,
  'A',
  'Adamsville city',
  'Alabama',
  '4522',
  4506,
  4500,
  4493,
  4471,
  4449,
  4420,
  4390,
  4356,
  4327,
  4308,
  4281),
 (3,
  162,
  1,
  0,
  484,
  0,
  0,
  0,
  'A',
  'Addison town',
  'Alabama',
  '758',
  754,
  751,
  750,
  743,
  742,
  739,
  734,
  731,
  726,
  723,
  718),
 (4,
  162,
  1,
  0,
  676,
  0,
  0,
  0,
  'A',
  'Akron town',
  'Alabama',
  '356',
  356,
  355,
  347,
  347,
  343,
  338,
  339,
  333,
  332,
  331,
  328),
 (5,
  162,
  1,
  0,
  820,
  0,
  0,
  0,
  'A',
  'Alabaster city',
  'Alabama',
  '30352',
  31112,
  31209,
  31375,
  31684,
  31980,
  32182,
  32772,
  33017,
  33275,
  33413,
  33487),
 (6,
  162,
  1,
  0,
  988,
  0,
  0,
  0,
  'A',
  'Albertville city',
  'Alabama',
  '21160',
  21209,
  21196,
  21406,
  21448,
  21435,
  21362,
  21395,
  21454,
  21485,
  21579,
  21711),
 (7,
  162,
  1,
  0,
  1132,
  0,
  0,
  0,
  'A',
  'Alexander City city',
  'Alabama',
  '14875',
  14984,
  14929,
  14897,
  14767,
  14835,
  14781,
  14647,
  14611,
  14550,
  14452,
  14317),
 (8,
  162,
  1,
  0,
  1228,
  0,
  0,
  0,
  'A',
  'Aliceville city',
  'Alabama',
  '2486',
  2481,
  2480,
  2425,
  2412,
  2387,
  2358,
  2345,
  2328,
  2317,
  2279,
  2254),
 (9,
  162,
  1,
  0,
  1396,
  0,
  0,
  0,
  'A',
  'Allgood town',
  'Alabama',
  '622',
  622,
  622,
  626,
  628,
  630,
  631,
  633,
  635,
  641,
  646,
  650),
 (10,
  162,
  1,
  0,
  1660,
  0,
  0,
  0,
  'A',
  'Altoona town',
  'Alabama',
  '933',
  937,
  937,
  935,
  934,
  930,
  926,
  922,
  920,
  921,
  917,
  913),
 (11,
  162,
  1,
  0,
  1708,
  0,
  0,
  0,
  'A',
  'Andalusia city',
  'Alabama',
  '9015',
  9015,
  9025,
  9068,
  9000,
  8993,
  8980,
  8918,
  8854,
  8746,
  8686,
  8680),
 (12,
  162,
  1,
  0,
  1756,
  0,
  0,
  0,
  'A',
  'Anderson town',
  'Alabama',
  '282',
  281,
  281,
  280,
  279,
  277,
  278,
  274,
  272,
  272,
  268,
  267),
 (13,
  162,
  1,
  0,
  1852,
  0,
  0,
  0,
  'A',
  'Anniston city',
  'Alabama',
  '23106',
  22987,
  22932,
  22780,
  22577,
  22393,
  22215,
  22039,
  21865,
  21708,
  21513,
  21287),
 (14,
  162,
  1,
  0,
  2116,
  0,
  0,
  0,
  'A',
  'Arab city',
  'Alabama',
  '8050',
  8080,
  8095,
  8187,
  8222,
  8230,
  8212,
  8232,
  8269,
  8298,
  8340,
  8383),
 (15,
  162,
  1,
  0,
  2260,
  0,
  0,
  0,
  'A',
  'Ardmore town',
  'Alabama',
  '1194',
  1194,
  1203,
  1249,
  1273,
  1301,
  1338,
  1353,
  1375,
  1400,
  1425,
  1463),
 (16,
  162,
  1,
  0,
  2320,
  0,
  0,
  0,
  'A',
  'Argo town',
  'Alabama',
  '4071',
  4085,
  4093,
  4119,
  4148,
  4195,
  4195,
  4219,
  4263,
  4289,
  4319,
  4348),
 (17,
  162,
  1,
  0,
  2428,
  0,
  0,
  0,
  'A',
  'Ariton town',
  'Alabama',
  '764',
  762,
  763,
  754,
  757,
  747,
  741,
  742,
  741,
  741,
  738,
  739),
 (18,
  162,
  1,
  0,
  2500,
  0,
  0,
  0,
  'A',
  'Arley town',
  'Alabama',
  '357',
  357,
  356,
  357,
  354,
  353,
  352,
  348,
  349,
  348,
  345,
  345),
 (19,
  162,
  1,
  0,
  2836,
  0,
  0,
  0,
  'A',
  'Ashford town',
  'Alabama',
  '2148',
  2149,
  2151,
  2162,
  2175,
  2165,
  2168,
  2163,
  2157,
  2156,
  2161,
  2181),
 (20,
  162,
  1,
  0,
  2860,
  0,
  0,
  0,
  'A',
  'Ashland town',
  'Alabama',
  '2037',
  2039,
  2034,
  2003,
  1963,
  1955,
  1956,
  1948,
  1940,
  1925,
  1909,
  1895),
 (21,
  162,
  1,
  0,
  2908,
  0,
  0,
  0,
  'A',
  'Ashville city',
  'Alabama',
  '2212',
  2231,
  2236,
  2242,
  2252,
  2276,
  2270,
  2275,
  2300,
  2321,
  2345,
  2365),
 (22,
  162,
  1,
  0,
  2956,
  0,
  0,
  0,
  'A',
  'Athens city',
  'Alabama',
  '21897',
  21878,
  21994,
  22790,
  23390,
  23836,
  24451,
  24870,
  25263,
  25719,
  26441,
  27366),
 (23,
  162,
  1,
  0,
  3004,
  0,
  0,
  0,
  'A',
  'Atmore city',
  'Alabama',
  '10194',
  10167,
  10169,
  10133,
  10085,
  9958,
  10001,
  9956,
  9886,
  9380,
  9096,
  9107),
 (24,
  162,
  1,
  0,
  3028,
  0,
  0,
  0,
  'A',
  'Attalla city',
  'Alabama',
  '6048',
  6048,
  6043,
  6021,
  5996,
  5955,
  5909,
  5867,
  5847,
  5841,
  5804,
  5771),
 (25,
  162,
  1,
  0,
  3076,
  0,
  0,
  0,
  'A',
  'Auburn city',
  'Alabama',
  '53380',
  53439,
  53785,
  54950,
  57149,
  58816,
  60372,
  61754,
  62773,
  63927,
  65495,
  66259),
 (26,
  162,
  1,
  0,
  3220,
  0,
  0,
  0,
  'A',
  'Autaugaville town',
  'Alabama',
  '870',
  886,
  888,
  890,
  883,
  869,
  869,
  866,
  869,
  870,
  870,
  871),
 (27,
  162,
  1,
  0,
  3364,
  0,
  0,
  0,
  'A',
  'Avon town',
  'Alabama',
  '543',
  496,
  497,
  498,
  500,
  496,
  495,
  493,
  492,
  491,
  500,
  510),
 (28,
  162,
  1,
  0,
  3556,
  0,
  0,
  0,
  'A',
  'Babbie town',
  'Alabama',
  '603',
  603,
  604,
  609,
  604,
  604,
  605,
  601,
  600,
  595,
  594,
  596),
 (29,
  162,
  1,
  0,
  3676,
  0,
  0,
  0,
  'A',
  'Baileyton town',
  'Alabama',
  '610',
  606,
  606,
  606,
  605,
  608,
  609,
  613,
  615,
  617,
  617,
  619),
 (30,
  162,
  1,
  0,
  3724,
  0,
  0,
  0,
  'A',
  'Bakerhill town',
  'Alabama',
  '279',
  279,
  277,
  275,
  273,
  271,
  269,
  265,
  261,
  257,
  253,
  252),
 (31,
  162,
  1,
  0,
  3940,
  0,
  0,
  0,
  'A',
  'Banks town',
  'Alabama',
  '179',
  173,
  173,
  173,
  173,
  169,
  167,
  166,
  166,
  165,
  165,
  164),
 (32,
  162,
  1,
  0,
  4660,
  0,
  0,
  0,
  'A',
  'Bay Minette city',
  'Alabama',
  '8044',
  8256,
  8276,
  8367,
  8524,
  8787,
  8912,
  8975,
  9093,
  9191,
  9273,
  9354),
 (33,
  162,
  1,
  0,
  4684,
  0,
  0,
  0,
  'A',
  'Bayou La Batre city',
  'Alabama',
  '2558',
  2458,
  2596,
  2580,
  2561,
  2551,
  2541,
  2531,
  2525,
  2509,
  2492,
  2479),
 (34,
  162,
  1,
  0,
  4852,
  0,
  0,
  0,
  'A',
  'Bear Creek town',
  'Alabama',
  '1070',
  1068,
  1069,
  1079,
  1073,
  1065,
  1067,
  1067,
  1066,
  1064,
  1068,
  1068),
 (35,
  162,
  1,
  0,
  4900,
  0,
  0,
  0,
  'A',
  'Beatrice town',
  'Alabama',
  '301',
  302,
  301,
  298,
  297,
  291,
  289,
  287,
  286,
  283,
  281,
  278),
 (36,
  162,
  1,
  0,
  4948,
  0,
  0,
  0,
  'A',
  'Beaverton town',
  'Alabama',
  '201',
  193,
  192,
  189,
  190,
  190,
  187,
  186,
  187,
  187,
  189,
  187),
 (37,
  162,
  1,
  0,
  5164,
  0,
  0,
  0,
  'A',
  'Belk town',
  'Alabama',
  '215',
  215,
  215,
  213,
  211,
  212,
  210,
  210,
  207,
  208,
  207,
  204),
 (38,
  162,
  1,
  0,
  5692,
  0,
  0,
  0,
  'A',
  'Benton town',
  'Alabama',
  '49',
  49,
  49,
  48,
  47,
  46,
  45,
  45,
  44,
  43,
  42,
  41),
 (39,
  162,
  1,
  0,
  5812,
  0,
  0,
  0,
  'A',
  'Berlin town',
  'Alabama',
  'A',
  458,
  458,
  458,
  456,
  458,
  459,
  461,
  464,
  463,
  463,
  460),
 (40,
  162,
  1,
  0,
  5932,
  0,
  0,
  0,
  'A',
  'Berry town',
  'Alabama',
  '1148',
  1146,
  1145,
  1132,
  1127,
  1118,
  1116,
  1112,
  1105,
  1101,
  1101,
  1095),
 (41,
  162,
  1,
  0,
  5980,
  0,
  0,
  0,
  'A',
  'Bessemer city',
  'Alabama',
  '27456',
  27667,
  27628,
  27575,
  27425,
  27267,
  27131,
  26943,
  26733,
  26641,
  26583,
  26472),
 (42,
  162,
  1,
  0,
  6460,
  0,
  0,
  0,
  'A',
  'Billingsley town',
  'Alabama',
  '144',
  148,
  148,
  148,
  147,
  144,
  144,
  143,
  143,
  144,
  142,
  142),
 (43,
  162,
  1,
  0,
  7000,
  0,
  0,
  0,
  'A',
  'Birmingham city',
  'Alabama',
  '212237',
  212585,
  212328,
  212095,
  211287,
  211765,
  211651,
  212259,
  211977,
  211533,
  210487,
  209403),
 (44,
  162,
  1,
  0,
  7120,
  0,
  0,
  0,
  'A',
  'Black town',
  'Alabama',
  '207',
  207,
  207,
  206,
  207,
  207,
  206,
  206,
  205,
  205,
  204,
  203),
 (45,
  162,
  1,
  0,
  7456,
  0,
  0,
  0,
  'A',
  'Blountsville town',
  'Alabama',
  '1684',
  1684,
  1685,
  1688,
  1683,
  1683,
  1680,
  1677,
  1669,
  1672,
  1665,
  1670),
 (46,
  162,
  1,
  0,
  7672,
  0,
  0,
  0,
  'A',
  'Blue Springs town',
  'Alabama',
  '96',
  96,
  96,
  95,
  93,
  92,
  92,
  91,
  89,
  87,
  86,
  87),
 (47,
  162,
  1,
  0,
  7912,
  0,
  0,
  0,
  'A',
  'Boaz city',
  'Alabama',
  '9551',
  9457,
  9472,
  9547,
  9604,
  9610,
  9617,
  9614,
  9648,
  9654,
  9678,
  9704),
 (48,
  162,
  1,
  0,
  8104,
  0,
  0,
  0,
  'A',
  'Boligee town',
  'Alabama',
  '328',
  328,
  326,
  313,
  312,
  307,
  301,
  297,
  295,
  289,
  283,
  280),
 (49,
  162,
  1,
  0,
  8248,
  0,
  0,
  0,
  'A',
  'Bon Air town',
  'Alabama',
  '116',
  116,
  116,
  115,
  115,
  114,
  113,
  113,
  112,
  111,
  110,
  110),
 (50,
  162,
  1,
  0,
  9016,
  0,
  0,
  0,
  'A',
  'Brantley town',
  'Alabama',
  '809',
  807,
  805,
  804,
  802,
  795,
  792,
  789,
  790,
  782,
  774,
  768),
 (51,
  162,
  1,
  0,
  9136,
  0,
  0,
  0,
  'A',
  'Brent city',
  'Alabama',
  '4947',
  4955,
  4947,
  4929,
  4916,
  4883,
  4896,
  4899,
  4851,
  4789,
  4751,
  4747),
 (52,
  162,
  1,
  0,
  9208,
  0,
  0,
  0,
  'A',
  'Brewton city',
  'Alabama',
  '5408',
  5406,
  5407,
  5374,
  5342,
  5307,
  5284,
  5308,
  5265,
  5253,
  5205,
  5210),
 (53,
  162,
  1,
  0,
  9328,
  0,
  0,
  0,
  'A',
  'Bridgeport city',
  'Alabama',
  '2418',
  2439,
  2436,
  2421,
  2408,
  2396,
  2372,
  2349,
  2333,
  2321,
  2305,
  2297),
 (54,
  162,
  1,
  0,
  9400,
  0,
  0,
  0,
  'A',
  'Brighton city',
  'Alabama',
  '2945',
  2945,
  2941,
  2932,
  2916,
  2897,
  2882,
  2860,
  2835,
  2811,
  2795,
  2775),
 (55,
  162,
  1,
  0,
  9424,
  0,
  0,
  0,
  'A',
  'Brilliant town',
  'Alabama',
  '900',
  897,
  898,
  902,
  898,
  889,
  887,
  884,
  881,
  876,
  874,
  873),
 (56,
  162,
  1,
  0,
  9736,
  0,
  0,
  0,
  'A',
  'Brookside town',
  'Alabama',
  '1363',
  1364,
  1363,
  1360,
  1358,
  1354,
  1348,
  1342,
  1338,
  1338,
  1337,
  1329),
 (57,
  162,
  1,
  0,
  9808,
  0,
  0,
  0,
  'A',
  'Brookwood town',
  'Alabama',
  '1828',
  1825,
  1825,
  1848,
  1853,
  1862,
  1861,
  1854,
  1864,
  1857,
  1852,
  1848),
 (58,
  162,
  1,
  0,
  10240,
  0,
  0,
  0,
  'A',
  'Brundidge city',
  'Alabama',
  '2076',
  2073,
  2073,
  2064,
  2065,
  2012,
  1983,
  1968,
  1954,
  1942,
  1922,
  1902),
 (59,
  162,
  1,
  0,
  11032,
  0,
  0,
  0,
  'A',
  'Butler town',
  'Alabama',
  '1894',
  1948,
  1946,
  1916,
  1903,
  1879,
  1860,
  1842,
  1810,
  1783,
  1762,
  1721),
 (60,
  162,
  1,
  0,
  11416,
  0,
  0,
  0,
  'A',
  'Calera city',
  'Alabama',
  '11620',
  11608,
  11730,
  12123,
  12455,
  12746,
  12976,
  13255,
  13575,
  13921,
  14302,
  14717),
 (61,
  162,
  1,
  0,
  11512,
  0,
  0,
  0,
  'A',
  'Camden city',
  'Alabama',
  '2020',
  2041,
  2022,
  2003,
  1969,
  1938,
  1902,
  1890,
  1877,
  1837,
  1808,
  1765),
 (62,
  162,
  1,
  0,
  11680,
  0,
  0,
  0,
  'A',
  'Camp Hill town',
  'Alabama',
  '1014',
  1014,
  1010,
  1007,
  996,
  990,
  985,
  974,
  971,
  965,
  959,
  950),
 (63,
  162,
  1,
  0,
  12016,
  0,
  0,
  0,
  'A',
  'Carbon Hill city',
  'Alabama',
  '2021',
  2025,
  2024,
  2016,
  1998,
  1986,
  1970,
  1956,
  1939,
  1913,
  1902,
  1892),
 (64,
  162,
  1,
  0,
  12040,
  0,
  0,
  0,
  'A',
  'Cardiff town',
  'Alabama',
  '55',
  55,
  55,
  55,
  55,
  54,
  54,
  54,
  54,
  54,
  53,
  55),
 (65,
  162,
  1,
  0,
  12160,
  0,
  0,
  0,
  'A',
  'Carolina town',
  'Alabama',
  '297',
  297,
  297,
  299,
  297,
  299,
  298,
  296,
  295,
  294,
  294,
  295),
 (66,
  162,
  1,
  0,
  12304,
  0,
  0,
  0,
  'A',
  'Carrollton town',
  'Alabama',
  '1019',
  1019,
  1019,
  1001,
  998,
  989,
  978,
  975,
  970,
  964,
  952,
  943),
 (67,
  162,
  1,
  0,
  12496,
  0,
  0,
  0,
  'A',
  'Castleberry town',
  'Alabama',
  '583',
  594,
  594,
  593,
  588,
  581,
  568,
  569,
  560,
  557,
  550,
  540),
 (68,
  162,
  1,
  0,
  12760,
  0,
  0,
  0,
  'A',
  'Cedar Bluff town',
  'Alabama',
  '1820',
  1827,
  1825,
  1827,
  1818,
  1821,
  1810,
  1797,
  1796,
  1796,
  1809,
  1823),
 (69,
  162,
  1,
  0,
  13264,
  0,
  0,
  0,
  'A',
  'Center Point city',
  'Alabama',
  '16921',
  16880,
  16880,
  16902,
  16879,
  16785,
  16704,
  16589,
  16445,
  16315,
  16227,
  16110),
 (70,
  162,
  1,
  0,
  13648,
  0,
  0,
  0,
  'A',
  'Centre city',
  'Alabama',
  '3489',
  3496,
  3494,
  3498,
  3558,
  3565,
  3547,
  3517,
  3515,
  3509,
  3528,
  3542),
 (71,
  162,
  1,
  0,
  13672,
  0,
  0,
  0,
  'A',
  'Centreville city',
  'Alabama',
  '2778',
  2788,
  2780,
  2758,
  2733,
  2703,
  2696,
  2680,
  2681,
  2666,
  2623,
  2609),
 (72,
  162,
  1,
  0,
  14008,
  0,
  0,
  0,
  'A',
  'Chatom town',
  'Alabama',
  '1288',
  1284,
  1286,
  1269,
  1251,
  1233,
  1229,
  1226,
  1210,
  1204,
  1190,
  1182),
 (73,
  162,
  1,
  0,
  14104,
  0,
  0,
  0,
  'A',
  'Chelsea city',
  'Alabama',
  '10183',
  10680,
  10738,
  10881,
  11130,
  11545,
  11944,
  12237,
  12557,
  13048,
  13532,
  14126),
 (74,
  162,
  1,
  0,
  14152,
  0,
  0,
  0,
  'A',
  'Cherokee town',
  'Alabama',
  '1048',
  1048,
  1049,
  1045,
  1039,
  1031,
  1021,
  1014,
  1013,
  1011,
  1011,
  1008),
 (75,
  162,
  1,
  0,
  14392,
  0,
  0,
  0,
  'A',
  'Chickasaw city',
  'Alabama',
  '6106',
  6101,
  6082,
  6045,
  6005,
  5967,
  5930,
  5899,
  5868,
  5803,
  5749,
  5702),
 (76,
  162,
  1,
  0,
  14464,
  0,
  0,
  0,
  'A',
  'Childersburg city',
  'Alabama',
  '5175',
  5161,
  5144,
  5120,
  5088,
  5053,
  5026,
  4988,
  4943,
  4898,
  4868,
  4837),
 (77,
  162,
  1,
  0,
  15064,
  0,
  0,
  0,
  'A',
  'Citronelle city',
  'Alabama',
  '3905',
  3910,
  3904,
  3908,
  3899,
  3894,
  3897,
  3906,
  3918,
  3899,
  3876,
  3861),
 (78,
  162,
  1,
  0,
  15136,
  0,
  0,
  0,
  'A',
  'Clanton city',
  'Alabama',
  '8619',
  8640,
  8638,
  8639,
  8599,
  8594,
  8609,
  8682,
  8690,
  8699,
  8674,
  8794),
 (79,
  162,
  1,
  0,
  15256,
  0,
  0,
  0,
  'A',
  'Clay city',
  'Alabama',
  '9708',
  9966,
  9958,
  10005,
  9952,
  9977,
  9969,
  9935,
  9882,
  9847,
  9886,
  9923),
 (80,
  162,
  1,
  0,
  15304,
  0,
  0,
  0,
  'A',
  'Clayhatchee town',
  'Alabama',
  '589',
  596,
  597,
  592,
  593,
  587,
  582,
  583,
  584,
  584,
  583,
  585),
 (81,
  162,
  1,
  0,
  15376,
  0,
  0,
  0,
  'A',
  'Clayton town',
  'Alabama',
  '3008',
  3005,
  2998,
  2976,
  2955,
  2940,
  2933,
  2918,
  2903,
  2877,
  2861,
  2847),
 (82,
  162,
  1,
  0,
  15472,
  0,
  0,
  0,
  'A',
  'Cleveland town',
  'Alabama',
  '1303',
  1306,
  1306,
  1311,
  1312,
  1311,
  1309,
  1309,
  1305,
  1311,
  1307,
  1306),
 (83,
  162,
  1,
  0,
  15640,
  0,
  0,
  0,
  'A',
  'Clio city',
  'Alabama',
  '1399',
  1408,
  1400,
  1575,
  1576,
  1561,
  1556,
  1499,
  1518,
  1298,
  1284,
  1274),
 (84,
  162,
  1,
  0,
  16000,
  0,
  0,
  0,
  'A',
  'Coaling town',
  'Alabama',
  '1657',
  1659,
  1659,
  1682,
  1689,
  1693,
  1689,
  1679,
  1685,
  1674,
  1670,
  1663),
 (85,
  162,
  1,
  0,
  16240,
  0,
  0,
  0,
  'A',
  'Coffee Springs town',
  'Alabama',
  '228',
  223,
  223,
  222,
  223,
  221,
  220,
  220,
  219,
  217,
  215,
  214),
 (86,
  162,
  1,
  0,
  16264,
  0,
  0,
  0,
  'A',
  'Coffeeville town',
  'Alabama',
  '352',
  352,
  351,
  349,
  344,
  343,
  339,
  337,
  332,
  328,
  326,
  322),
 (87,
  162,
  1,
  0,
  16312,
  0,
  0,
  0,
  'A',
  'Coker town',
  'Alabama',
  '979',
  970,
  970,
  986,
  988,
  990,
  987,
  981,
  984,
  976,
  969,
  964),
 (88,
  162,
  1,
  0,
  16600,
  0,
  0,
  0,
  'A',
  'Collinsville town',
  'Alabama',
  '1983',
  1982,
  1983,
  2003,
  1992,
  1991,
  1993,
  1992,
  1989,
  2002,
  2005,
  2009),
 (89,
  162,
  1,
  0,
  16684,
  0,
  0,
  0,
  'A',
  'Colony town',
  'Alabama',
  '268',
  270,
  270,
  272,
  271,
  274,
  274,
  278,
  281,
  283,
  287,
  289),
 (90,
  162,
  1,
  0,
  16744,
  0,
  0,
  0,
  'A',
  'Columbia town',
  'Alabama',
  '740',
  740,
  741,
  742,
  745,
  738,
  737,
  731,
  727,
  729,
  731,
  737),
 (91,
  162,
  1,
  0,
  16768,
  0,
  0,
  0,
  'A',
  'Columbiana city',
  'Alabama',
  '4197',
  4161,
  4168,
  4183,
  4205,
  4196,
  4169,
  4211,
  4511,
  4601,
  4552,
  4550),
 (92,
  162,
  1,
  0,
  17176,
  0,
  0,
  0,
  'A',
  'Coosada town',
  'Alabama',
  '1224',
  1212,
  1218,
  1221,
  1217,
  1225,
  1220,
  1228,
  1235,
  1269,
  1295,
  1298),
 (93,
  162,
  1,
  0,
  17368,
  0,
  0,
  0,
  'A',
  'Cordova city',
  'Alabama',
  '2095',
  2096,
  2091,
  2005,
  1983,
  1966,
  1948,
  1929,
  1910,
  1881,
  1862,
  1850),
 (94,
  162,
  1,
  0,
  17824,
  0,
  0,
  0,
  'A',
  'Cottonwood town',
  'Alabama',
  '1289',
  1282,
  1283,
  1284,
  1289,
  1278,
  1273,
  1267,
  1259,
  1253,
  1250,
  1255),
 (95,
  162,
  1,
  0,
  17968,
  0,
  0,
  0,
  'A',
  'County Line town',
  'Alabama',
  '258',
  255,
  255,
  255,
  255,
  261,
  260,
  260,
  261,
  260,
  261,
  265),
 (96,
  162,
  1,
  0,
  18040,
  0,
  0,
  0,
  'A',
  'Courtland town',
  'Alabama',
  '609',
  617,
  617,
  616,
  611,
  606,
  603,
  597,
  597,
  592,
  589,
  588),
 (97,
  162,
  1,
  0,
  18088,
  0,
  0,
  0,
  'A',
  'Cowarts town',
  'Alabama',
  '1871',
  1905,
  1907,
  1916,
  1946,
  1962,
  1977,
  2017,
  2026,
  2047,
  2055,
  2079),
 (98,
  162,
  1,
  0,
  18304,
  0,
  0,
  0,
  'A',
  'Creola city',
  'Alabama',
  '1926',
  1922,
  1919,
  1924,
  1929,
  1940,
  1951,
  1969,
  1989,
  1999,
  2016,
  2036),
 (99,
  162,
  1,
  0,
  18856,
  0,
  0,
  0,
  'A',
  'Crossville town',
  'Alabama',
  '1862',
  1864,
  1865,
  1880,
  1864,
  1861,
  1857,
  1859,
  1857,
  1864,
  1860,
  1857),
 (100,
  162,
  1,
  0,
  18952,
  0,
  0,
  0,
  'A',
  'Cuba town',
  'Alabama',
  '346',
  341,
  340,
  333,
  328,
  327,
  322,
  319,
  310,
  302,
  298,
  290),
 (101,
  162,
  1,
  0,
  18976,
  0,
  0,
  0,
  'A',
  'Cullman city',
  'Alabama',
  '14775',
  15158,
  15163,
  15131,
  15140,
  15217,
  15318,
  15490,
  15625,
  15734,
  15884,
  16034),
 (102,
  162,
  1,
  0,
  19216,
  0,
  0,
  0,
  'A',
  'Cusseta town',
  'Alabama',
  '123',
  123,
  123,
  122,
  123,
  123,
  125,
  125,
  124,
  126,
  125,
  124),
 (103,
  162,
  1,
  0,
  19336,
  0,
  0,
  0,
  'A',
  'Dadeville city',
  'Alabama',
  '3230',
  3232,
  3221,
  3201,
  3180,
  3168,
  3158,
  3127,
  3114,
  3102,
  3081,
  3053),
 (104,
  162,
  1,
  0,
  19360,
  0,
  0,
  0,
  'A',
  'Daleville city',
  'Alabama',
  '5295',
  5291,
  5303,
  5240,
  5248,
  5181,
  5135,
  5124,
  5123,
  5118,
  5096,
  5102),
 (105,
  162,
  1,
  0,
  19648,
  0,
  0,
  0,
  'A',
  'Daphne city',
  'Alabama',
  '21570',
  21622,
  21834,
  22271,
  22745,
  23372,
  24138,
  24613,
  25565,
  26006,
  26504,
  26869),
 (106,
  162,
  1,
  0,
  19744,
  0,
  0,
  0,
  'A',
  'Dauphin Island town',
  'Alabama',
  '1238',
  1238,
  1235,
  1235,
  1233,
  1233,
  1236,
  1245,
  1258,
  1269,
  1297,
  1335),
 (107,
  162,
  1,
  0,
  19816,
  0,
  0,
  0,
  'A',
  'Daviston town',
  'Alabama',
  '214',
  214,
  213,
  213,
  211,
  210,
  210,
  208,
  209,
  210,
  210,
  210),
 (108,
  162,
  1,
  0,
  19912,
  0,
  0,
  0,
  'A',
  'Dayton town',
  'Alabama',
  '52',
  52,
  52,
  51,
  50,
  49,
  49,
  49,
  48,
  47,
  46,
  46),
 (109,
  162,
  1,
  0,
  20008,
  0,
  0,
  0,
  'A',
  'Deatsville town',
  'Alabama',
  '1154',
  1224,
  1227,
  1233,
  1232,
  1231,
  1224,
  1222,
  1224,
  1230,
  1236,
  1237),
 (110,
  162,
  1,
  0,
  20104,
  0,
  0,
  0,

## Mapping and plots?

What do I need to map these? something like this?
https://catalog.data.gov/dataset/tiger-line-shapefile-2019-nation-u-s-current-metropolitan-statistical-area-micropolitan-statist

In the meantime, let me see if I can merge together in pandas

In [568]:
prices_CBSA.head()

,CBSA,ZIP,RegionName,State,City,Metro,CountyName,month_date,house_price,rent_price
0,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-01,"241,373.00","1,210.00"
1,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-02,"242,013.00","1,234.00"
2,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-03,"242,620.00","1,241.00"
3,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-04,"243,485.00","1,270.00"
4,10420,44256,44256,OH,Medina,Cleveland-Elyria,Medina County,2019-05,"244,326.00","1,260.00"