# Table of Contents

* [Background](#Data-sources-background-information)
* [Data Import](#Data-import)

## TODO list:

* organize descriptions of files and links
* work on API / functionalized approach
* decide which month / quarter / year to focus on

## Setup notes

* setup conda env with python 3.7: realty-market-app
* setup workspace in vscode
* created new container in docker for postgres from official postgres image pg-realty

## Data sources background information

| Data                | Source                              | Purpose    | Details    | Key | Data name
| :----------------   | :---                                | :---       | :---       | :--- | :---
| House prices and rent prices      | [Zillow](https://www.zillow.com/research/data/) | with rent prices, can determine ratios | TBA  | Zip Code | rent_prices
| New construction                  | [Census data](https://www.census.gov/construction/nrc/index.html) | While prices are lagging indicator, this should be a leading indicator | only high level data :( maybe this is better: [Census surveys](https://www.census.gov/construction/bps/msaannual.html)  | CBSA - crosswalk to Zip code | construction
| Rental Vacancy rates (Table 4)     | [more Census](https://www.census.gov/housing/hvs/data/rates.html) | could be a proxy for rent prices which is hard to find | this is 75 largest metro areas  | names of metro areas?? | vacancy
| sub-county population estimates    | [Census pop data](https://www.census.gov/data/tables/time-series/demo/popest/2010s-total-cities-and-towns.html#ds)   | population trends will indicate future rent demand | TBA  |  | population

## Rental vacancy 

from here https://www.census.gov/housing/hvs/methodology/index.html

The CPS/HVS is administered by the Census Bureau using a probability selected sample of about 72,000 housing units, both occupied and vacant. The fieldwork is conducted during the calendar week that includes the 19th of the month. The questions refer to activities during the prior week; that is, the week that includes the 12th of the month. Households from all 50 states and the District of Columbia are in the survey for 4 consecutive months, out for 8, and then return for another 4 months before leaving the sample permanently. This design ensures a high degree of continuity from one month to the next (as well as over the year). The 4-8-4 sampling scheme has the added benefit of allowing the constant replenishment of the sample without excessive burden to respondents.

The CPS/HVS questionnaire is a completely computerized document that is administered by Census Bureau field representatives across the country through both personal and telephone interviews.

CPS/HVS Interviewing Manual [PDF]

2019 CPS/HVS Design and Methodology Technical Paper [PDF]

2006 CPS/HVS Design and Methodology Technical Paper [PDF]

## Zillow rent prices

https://www.zillow.com/research/methodology-zori-repeat-rent-27092/

Zillow Observed Rent Index (ZORI): A smoothed measure of the typical observed market rate rent across a given region. ZORI is a repeat-rent index that is weighted to the rental housing stock to ensure representativeness across the entire market, not just those homes currently listed for-rent. The index is dollar-denominated by computing the mean of listed rents that fall into the 40th to 60th percentile range for all homes and apartments in a given region, which is once again weighted to reflect the rental housing stock. Details available in ZORI methodology.

What’s available to rent at any given time can change rapidly, and measures of median or average prices across time may not reflect actual market-based movements in rent prices, but instead simply reflect the fact that certain unit types are available at different times. ZORI solves this challenge by calculating price differences for the same rental unit over time, then aggregating those differences across all properties repeatedly listed for rent on Zillow.

Once the index is computed, it is smoothed using a three-month exponentially weighted moving average. Prior to publication, both the raw and smoothed indices are checked against a set of heuristics based on statistics of the time series to flag potential data quality issues so they can be investigated and fixed, or a determination can be made not to publish the series.

To make the index more interpretable, we attach a dollar value to the latest data point in the series and use the index’s month-to-month changes to chain the dollar value back in time. The dollar amount is calculated by taking the mean of the middle 20% (the 40-to-60 percentile) of the asking rent for observations from the most recent month. Using the mean of the middle quintile instead of a straight median better captures small changes in the market, while also reducing noise. To correct for bias in list rents, we use the same weights described above to make the dollar-denominated amount representative of the market of available homes. 

Zillow neigborhoods: https://data.opendatasoft.com/explore/dataset/zillow-neighborhoods@public/information/

## Unemployment data 
Starting from the LAUS home page, scroll down to "Get Detailed Statistics," and then click on "Flat files FTP Site," or go to http://download.bls.gov/pub/time.series/la/. To understand the data provided in these FTP files, scroll down to the "la.txt" document, which provides information on the following: Time series, series file, data file, and mapping file definitions and relationships; Series file format and field definitions; Data file format and field definitions; Mapping file formats and field definitions; and a Data Element Dictionary. Other explanatory documents include "la.period" and "la.area.type," which define periods and area types, respectively.

## Plan for today (Monday):

1. decide which Zillow data to use and whether zip codes?
2. what is my primary key to link everything going to be?

    * zip code? FIPS code? what is CBSA? Core-Based Statistical Area?

3. what hypothesis tests?

    * bin by regions and determine differences? doesn't seem very useful?
    * could do some testing of impact of COVID if I use 2020 data?
    * bayesian?
    * correlation between home prices and rent prices?
    
4. data into SQL
5. start analyzing
6. (Later) write code to use APIs and pull directly from websites instead

## FIPS, CBSA, Zip Codes, geocodes etc

CBSA = core based statistical areas

New metropolitan and micropolitan statistical area definitions were announced by OMB on June 6, 2003, based on application of the 2000 standards with Census 2000 data. Metropolitan and Micropolitan Statistical Areas are collectively referred to as Core-Based Statistical Areas.

Metropolitan statistical areas have at least one urbanized area of 50,000 or more population, plus adjacent territory that has a high degree of social and economic integration with the core as measured by commuting ties.
Micropolitan statistical areas are a new set of statistical areas that have at least one urban cluster of at least 10,000 but less than 50,000 population, plus adjacent territory that has a high degree of social and economic integration with the core as measured by commuting ties.
Metropolitan and micropolitan statistical areas are defined in terms of whole counties or county equivalents, including the six New England states. As of June 6, 2003, there are 362 metropolitan statistical areas and 560 micropolitan statistical areas in the United States.

https://www.huduser.gov/portal/datasets/usps_crosswalk.html

zip code tabulation areas? https://www.census.gov/programs-surveys/geography/guidance/geo-areas/zctas.html

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline
pd.options.display.float_format = '{:,.2f}'.format
plt.style.use('seaborn-white')

## Data import

### Zillow Home Price data

In [7]:
home_prices = pd.read_csv('../data/Zip_zhvi_uc_sfr_tier_0.33_0.67_sm_sa_mon.csv')

In [9]:
home_prices.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,...,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,nan,...,"1,397,980.00","1,389,522.00","1,383,244.00","1,380,903.00","1,385,338.00","1,386,299.00","1,385,537.00","1,377,219.00","1,366,529.00","1,351,955.00"
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,"362,440.00",...,"969,701.00","968,746.00","967,546.00","966,119.00","965,833.00","966,867.00","968,066.00","967,947.00","966,726.00","964,844.00"
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,nan,...,"1,597,185.00","1,590,668.00","1,584,963.00","1,581,334.00","1,584,746.00","1,586,066.00","1,582,635.00","1,575,709.00","1,569,296.00","1,569,607.00"
3,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,"200,594.00",...,"336,361.00","336,399.00","336,382.00","336,475.00","336,202.00","336,398.00","336,859.00","337,928.00","338,853.00","339,429.00"
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,"544,060.00",...,"1,200,264.00","1,198,154.00","1,195,523.00","1,193,421.00","1,193,009.00","1,194,815.00","1,196,093.00","1,196,435.00","1,195,008.00","1,194,721.00"

### Zillow Rent Price data

In [8]:
rent_prices = pd.read_csv('../data/Zip_ZORI_AllHomesPlusMultifamily_Smoothed.csv')

In [10]:
rent_prices.head()

,RegionID,RegionName,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,...,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06
0,61639,10025,1,"3,134.00","3,065.00","3,082.00","3,159.00","3,119.00","3,099.00","3,134.00",...,"3,371.00","3,348.00","3,331.00","3,327.00","3,332.00","3,395.00","3,370.00","3,306.00","3,275.00","3,213.00"
1,84654,60657,2,"1,673.00","1,663.00","1,674.00","1,711.00","1,725.00","1,770.00","1,768.00",...,"1,947.00","1,924.00","1,912.00","1,904.00","1,936.00","1,974.00","1,974.00","1,974.00","1,970.00","1,953.00"
2,61637,10023,3,"3,087.00","3,025.00","3,085.00","3,138.00","3,157.00","3,225.00","3,202.00",...,"3,312.00","3,314.00","3,328.00","3,263.00","3,322.00","3,315.00","3,333.00","3,305.00","3,269.00","3,246.00"
3,91982,77494,4,"1,813.00","1,877.00","1,854.00","1,885.00","1,898.00","1,925.00","1,923.00",...,"1,864.00","1,862.00","1,855.00","1,862.00","1,865.00","1,866.00","1,869.00","1,861.00","1,855.00","1,873.00"
4,84616,60614,5,"1,870.00","1,782.00","1,840.00","1,869.00","1,901.00","1,915.00","1,938.00",...,"2,166.00","2,147.00","2,137.00","2,129.00","2,128.00","2,146.00","2,160.00","2,182.00","2,185.00","2,174.00"

### Construction data

In [25]:
# skip 1-5 and 7 row ids
construction = pd.read_excel('../data/msaannual_201999_building_construction.xls', header=5, skiprows=[range(5), 6])
construction.head()
#construction.shape

,CSA,CBSA,Name,Total,1 Unit,2 Units,3 and 4 Units,5 Units or More,Num of Structures With 5 Units or More
0,999,10180,"Abilene, TX ...",370,354,16,0,0,0
1,184,10420,"Akron, OH ...",945,856,2,32,55,1
2,999,10500,"Albany, GA ...",402,182,0,0,220,10
3,440,10540,"Albany-Lebanon, OR ...",716,466,0,0,250,26
4,104,10580,"Albany-Schenectady-Troy, NY ...",1870,1120,40,45,665,48

### Rental vacancy

In [49]:
a = list(range(509,557))
a

[509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556]

In [74]:
# this file has merged cells and other stuff
vacancy = pd.read_excel('../data/tab4_msa_15_20_rvr.xlsx', 
                        header=3, 
                        usecols='B:J', 
                        #skiprows=2, 
                        skipfooter=509)

vacancy = vacancy.iloc[4:,:]
vacancy.head()

,Metropolitan Statistical Area,First Quarter 2020,Margin of Error1,Second Quarter 2020,Margin of Error1.1,Third Quarter 2020,Margin of Error1.2,Fourth Quarter 2020,Margin of Error1.3
4,"Akron, OH .......................................",10.20,9.20,nan,nan,nan,nan,nan,nan
5,"Albany-Schenectady-Troy, NY .....................",7.90,6.70,nan,nan,nan,nan,nan,nan
6,"Albuquerque, NM..................................",4.30,2.80,nan,nan,nan,nan,nan,nan
7,"Allentown-Bethlehem-Easton, PA-NJ................",4.50,5.90,nan,nan,nan,nan,nan,nan
8,"Atlanta-Sandy Springs-Roswell, GA1...............",6.90,2.50,nan,nan,nan,nan,nan,nan

In [76]:
# drop rows without MSA name
vacancy = vacancy.dropna(subset=['Metropolitan Statistical Area'], axis=0)

In [ ]:
# TODO: split the city and state into new col? or do it in SQL?

### population

In [33]:
# default utf-8 didn't work
population = pd.read_csv('../data/sub-est2019_all.csv', encoding = "ISO-8859-1")
population.head()
population.shape

(81434, 22)

### ZIP and CBSA crosswalk files

In [ ]:
# 4th quarter ZIP and CBSA crosswalk files:
# some ZIPs are in multiple CBSAs?
# how many unique do we have?
# from wikipedia, says there is around 900:
# https://en.wikipedia.org/wiki/List_of_core-based_statistical_areas

# TODO: figure this out

### Import into SQL

In [ ]:
# open connection